[2019-07-03 08:46] lowzj commented on #637
@huerlei supernode上的文件不是源文件，是加了分片信息的，大小跟dfget下载的文件肯定不一样

[2019-07-03 08:50] huerlei commented on #637
好的，了解了，这个分片信息的文件，在什么情况下会更新呢

[2019-07-03 08:50] lowzj commented on #637
@huerlei 源文件有变化时会更新

[2019-07-03 09:03] huerlei commented on #637
![image](https://user-images.githubusercontent.com/13655961/60578543-f6648380-9db3-11e9-87b5-a17713266c9e.png)
好像和你说的有点不一样，我用dfget 从这个目录data下载的文件，是和源文件大小是一致的，我在supernode上面 echo test >> index.data 修改文件后，下载的就开始是老文件了

[2019-07-03 09:24] huerlei commented on #637
@lowzj ,
![image](https://user-images.githubusercontent.com/13655961/60580242-53ae0400-9db7-11e9-8760-9fdf76cfa902.png)  nginx配置应该没有问题

[2019-07-03 09:48] lowzj commented on #637
@huerlei 请详细的描述你的问题，以及复现步骤，我没看明白

[2019-07-03 13:19] yunfeiyangbuaa commented on #232
https://github.com/dragonflyoss/Dragonfly/issues/50 ，this issue will be helpful

[2019-07-03 13:24] huerlei commented on #637
好的，是这样的，我部署的是物理机，部署了2个supernode（也是file server）节点和4台client，现在在其中一台client上，用/home/df-client/dfget --url http://$host/${REMOTE_PATH}/${REMOTE_FILE_NAME} --output ${DATA_DIR}/.${LOCAL_FILE_NAME}.temp${start_time} -s 50M --totallimit 50M -b --pattern p2p --node ${REMOTE_NODE} 命令同步supernode上面repo路径下data目录中的文件，开始同步正常，后面我手动修改了supernode上面的文件，之后就出现一直同步老文件的情况
dfclinet.log如下：
[2019-07-03 21:19:01,793] INFO si

[2019-07-03 13:24] huerlei commented on #637
@lowzj

[2019-07-03 15:06] yeya24 opened #651 "[feature request] output logs to stdout"
## Why you need it?

Dragonfly is used in cloud native situations and its components like dfdaemon and supernode maybe run as containers.

But currently the detailed logs are stored in logs file inside the container instead of outputing to stdout. If I want to see the logs file, I have to exec into the container first. It is better to have an option to configure logs output to stdout so I can use

[2019-07-04 01:18] yunfeiyangbuaa opened #652 "[feature request] add a supernodes cluster address if there are many supernodes in df"
## Why you need it?

in dragonfly,we should tell dfclient  every supernode's address before it starts,so if user don't know a new supernode  joins the system,the supernode is unreachable,and if a supernode is off,dfclient will spend additional time to sense it.so can we only tell the supernodes cluster address instead of every supernode's address to dfclient.

## How it could be?

## Other related

[2019-07-04 03:13] inoc603 commented on #651
I agree on this. Logs for dfdaemon and supernode should be output to stdout by default. It's easier for debugging and developing, and we can utilize existing tools like `journalctl`, `docker logs` and `kubectl logs` to view the logs. Console hook is alraedy implemented in `dflog`, and used in `dfget`. It would be easy to enable them in dfdaemon and supernode.

Also I did some refactoring on loggin

[2019-07-04 08:40] #631 closed

[2019-07-04 11:59] lowzj commented on #637
@huerlei 描述的是dfget下载的文件与更新后的源文件不一致，最好能够按以下步骤复现一下，提供如下信息和相关日志：
1. 第一次下载，使用md5sum或其他工具计算源文件md5值，及dfget下载后的文件md5值
2. 修改源文件，提供新的md5值
3. 再次使用dfget下载该文件，计算下载后的md5值

[2019-07-05 03:24] huerlei commented on #637
@lowzj  我在dfget 命令中加入MD5校验的时候，会同步失败，这个是需要升级吗
dfclient.log
[2019-07-05 11:18:01,951] INFO sign:15455-1562296681.950 lineno:51 : cmd params:Namespace(callsystem=None, console=False, dfdaemon=False, filter=None, header=None, identifier=None, locallimit='50M', md5='MD5', node='10.16.180.98', notbs=False, output='/home/qiyu/.index.data.temp1562296681', pattern='p2p', showbar=True, timeout=None, totalli

[2019-07-05 06:49] huerlei commented on #637
@lowzj
**第一次下载，使用md5sum或其他工具计算源文件md5值，及dfget下载后的文件md5值**
第一次md5值都是009058a56637aed047d62cb85317697d
**修改源文件，提供新的md5值**
f0880cd52a38d53a628459978dfa21dc
再次使用dfget下载该文件，计算下载后的md5值
009058a56637aed047d62cb85317697d
client.log
[2019-07-05 14:47:01,413] INFO sign:2724-1562309221.412 lineno:51 : cmd params:Namespace(callsystem=None, console=False, dfdaemon=False, filter=None, header=None, identifier=None,

[2019-07-05 07:15] pouchrobot opened #656 "WeeklyReport of Dragonfly from 2019-06-28 to 2019-07-05"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-07-08 01:30] huerlei commented on #637
@lowzj ,可以帮忙看一下，这个问题能复现吗

[2019-07-08 04:02] KeepCaim opened #662 "Quick Start,Can't start!"
## Question

I wonder if editors have ever succeeded themselves?

[2019-07-08 04:17] allencloud commented on #662
Could you attach any error messages? I knew that the document may bring you some inconvenience.
While we wish to see if you met any detailed issues.
Please help to add more information, I think that would be quite helpful.
Thanks a lot. @KeepCaim

[2019-07-08 06:38] yunfeiyangbuaa commented on #662
maybe this [issue ](https://github.com/dragonflyoss/Dragonfly/issues/643)can help  to resolve your problem

[2019-07-08 06:40] yunfeiyangbuaa commented on #662
the quick start can not work ,I and @yeya24 resolve it by this issue @allencloud

[2019-07-09 03:16] KeepCaim commented on #662
1、Not found dfclient.log, onlydfdaemon.log, What configuration do I need to do?But Quick Start has no instructions.
In dfdaemon.log:
2019-07-09 02:39:16.342 INFO sign:1 : rotate /root/.small-dragonfly/logs/dfdaemon.log every 60 seconds
2019-07-09 02:39:16.348 INFO sign:1 : use dfget 0.4.0 from /opt/dragonfly/df-client/dfget
2019-07-09 02:39:16.349 INFO sign:1 : using config: {"registry_mirror":{"r

[2019-07-09 03:23] KeepCaim commented on #662
Our registry has 20T images, I want to speed up when pull images on k8s cluster .I would try Dragonfly,but Quick Start really doesn't work

[2019-07-09 03:28] yeya24 commented on #662
@KeepCaim  You can try this command below when you start dfclient. Currently we are fixing this quick_start docs now and I hope this command can solve your problem.
[code]

[2019-07-09 03:54] KeepCaim commented on #662
@yeya24 I did as you said, my server and client are in the same machine, so can get server ip. but  really doesn't work.tcpdump is null on 65001, still not found dfclient.log,
my command :+1:
docker run -d --name dfclient --restart=always -p 65001:65001     -v /etc/dragonfly:/etc/dragonfly     dragonflyoss/dfclient:0.4.0 --registry http://localhost:5000 --node `docker inspect supernode -f '{{.Netw

[2019-07-09 03:56] KeepCaim commented on #662
I do not understand why this is so,  the source code to install can be successful?

[2019-07-09 09:20] lowzj commented on #662
`localhost` cannot be set as `registry` when you start dfclient using docker. It will be treated as the local loop ip of the dfclient container itself. `dfget` and `supernode` cannot access the `registry`, they will receive connection refused error.

[2019-07-10 02:34] KeepCaim commented on #662
@lowzj Thank you，I've made it. Now I have a question, I can pull an private image using 127.0.0.1:65001/xxx/xxx:xx, but the real registry is failing,that means it didn't go dragonfly.What should I do?

[2019-07-10 02:39] KeepCaim commented on #662
Configure like this:
/root/.docker/config.json
{
        "auths": {
                "127.0.0.1:65001": {
                        "auth": "${usename}:${password}"‘sbase64"
                },
                "https://private-registry-harbor/v2/": {
                        "auth": "${usename}:${password}"‘sbase64"
                }
        }
}

[2019-07-10 09:12] xzy256 commented on #451
我也遇到类似问题，参照博客[012-P2P加速Docker镜像分发(阿里Dragonfly)](https://juejin.im/post/5c98a8e9f265da60e346fe04) 还是有问题，
supernode和client 一直打印如下字样。@supereagle你是怎么解决的
[code]

[2019-07-10 11:22] #662 closed

[2019-07-10 11:34] supereagle commented on #451
It is the log of cleaning cached datas, which can be ignored.

[2019-07-10 12:33] xzy256 commented on #451
Thanks. I config `http-proxy.conf`, when i pull one image, i got `Error: Status 403 trying to pull repository xx/xx: "no matched registry for xxx.xxx"` error.  Waht should i do next?

[2019-07-11 02:51] anjia0532 commented on #451
@xzy256  3.x? or 4.x?

[2019-07-11 03:18] #643 closed

[2019-07-11 04:31] xzy256 commented on #662
I encouter same error for `quick start`. `dfcient` version is `v0.3.0`. so what is the lasted solution? Modify version `0.4.0` ?

[2019-07-11 05:08] xzy256 commented on #662
I should what to do. My command:
supernode:
<pre>
docker run -d --name supernode --restart=always -p 8001:8001 -p 8002:8002 -v /root/.small-dragonfly:/root/.small-dragonfly dragonflyoss/supernode:0.4.0 -Dsupernode.advertiseIp=127.0.0.1
</pre>
dfclient:
<pre>
docker run -d --name dfclient -p 65001:65001 -v /tmp/.small-dragonfly:/root/.small-dragonfly dragonflyoss/dfclient:0.4.0 --registry http://10

[2019-07-11 05:25] KeepCaim commented on #662
@xzy256 supernodes is null in dfdaemon.log. Your server and client are in the same machine,so you can try the command : docker run -d --name dfclient --restart=always -p 65001:65001 -v /etc/dragonfly:/etc/dragonfly dragonflyoss/dfclient:0.4.0 --registry http://localhost:5000 --node `docker inspect supernode -f '{{.NetworkSettings.Networks.bridge.IPAddress}}'` , then set HTTP_PROXY, see:https://git

[2019-07-11 05:53] xzy256 commented on #662
Thanks your attention.  I set `HTTP_PROXY`, but i pull one image, terminate output is:
[@gd_67_213 .small-dragonfly]#docker pull docker.registry.clouddev.sogou:5000/online/test:666
Trying to pull repository docker.registry.clouddev.sogou:5000/online/test ...
Pulling repository docker.registry.clouddev.sogou:5000/online/test
Error while pulling image: Get http://docker.registry.clouddev.sogou:5000/

[2019-07-11 06:15] KeepCaim commented on #662
Looks like the authentication failed.Is docker.registry.clouddev.sogou:5000a private registry?

configuration:/root/.docker/config.json like this
{
        "auths": {
                "127.0.0.1:65001": {
                        "auth": "xx="
                },
                "https://index.docker.io/v1/": {
                        "auth": "xx="
                }
        }
}
If it's harbor, it sho

[2019-07-11 11:29] yeya24 commented on #648
We can close this via https://github.com/dragonflyoss/Dragonfly/pull/664

[2019-07-11 12:28] allencloud commented on #648
Yes.

[2019-07-11 12:28] #648 closed

[2019-07-12 07:15] pouchrobot opened #672 "WeeklyReport of Dragonfly from 2019-07-05 to 2019-07-12"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-07-12 07:45] xzy256 commented on #662
It's Harbor registry.  `/root/.docker/config.json`  is created automatically, when exec `docker login xxx.registry:xx`. I contact your technical engineer with DingTalk. Thanks

[2019-07-12 14:52] yeya24 commented on #634
I think we can close this now. :smile:

[2019-07-12 14:52] #634 closed

[2019-07-12 14:55] yeya24 opened #673 "[doc incomplete] Update test docs"
### Ⅰ. Issue Description
The test docs https://github.com/dragonflyoss/Dragonfly/blob/master/test/README.md is kind of outdated after we move to `go modules`. We have to update it. BTW, should we move this doc to https://github.com/dragonflyoss/Dragonfly/blob/master/docs/test_guide/test_guide.md ?

/assign

[2019-07-12 14:56] yeya24 commented on #673
/assign

[2019-07-12 21:24] jyizheng commented on #437
Is this issue still open? I'd like to work on it.

[2019-07-13 00:37] Starnop commented on #673
I agree with that. 😄

[2019-07-15 01:56] allencloud commented on #437
Yes, still open. We are very glad that you could help to make it.
Maybe we can make a detailed design below this issue, review that by community and implement that via PR. @jyizheng

[2019-07-15 06:48] #656 closed

[2019-07-15 06:48] #672 closed

[2019-07-15 07:46] xzy256 opened #676 "build doc for go version dragonfly"
When i need build go version dragonfly, i find not doc for reference like  [Installing Dragonfly Server](https://d7y.io/zh-cn/docs/userguide/install_server.html). It is Inducible that accorde to build java version dragonfly doc.

[2019-07-15 07:50] yeya24 commented on #676
You can check this [Install Dragonfly Server Go](https://github.com/dragonflyoss/Dragonfly/blob/master/docs/user_guide/install_server_go.md) doc.

[2019-07-15 07:51] xzy256 commented on #676
great,  thx.

[2019-07-15 07:54] xzy256 commented on #676
By the way,  do `dragonflyoss/supernode:0.4.0`  merge pull request  #671 ?

[2019-07-15 08:01] yeya24 commented on #676
This PR is not merged yet, so it is not included in 0.4.0. And currently the latest release is 0.4.1, you can use image dragonflyoss/supernode:0.4.1.

[2019-07-15 08:11] xzy256 commented on #676
Ok.  I build success by myself according to [Install Dragonfly Server Go](https://github.com/dragonflyoss/Dragonfly/blob/master/docs/user_guide/install_server_go.md). Then i close this issue. Thanks for your attention.

[2019-07-15 08:12] #676 closed

[2019-07-16 07:24] xzy256 opened #677 "Download file block: Separating file server and supernode"
Dragonfly support multi supernodes, see [provide multiple supernodes for dfget](https://github.com/dragonflyoss/Dragonfly/blob/master/FAQ.md#how-to-config-supernodes-for-dfget).  I can't find doc for config supernode to a file server.
Now I have one file server, many supernodes at distinct machine. I want to config ervery supernode to same file server for distrubiting file blocks. What a pity, cur

[2019-07-16 07:44] xzy256 commented on #219
Orgnization/Company: sogou
Location: beijing, China
Contact: xuezhiyou@sogou-inc.com
Purpose/Scenario: Distribute files and docker images

[2019-07-17 08:52] liy516 commented on #219
Orgnization/Company: chinaunicom
Location: Jinan, China
Contact: 992283416@qq.com
Purpose/Scenario: distribute image on 天宫DC/OS.

[2019-07-17 11:22] yeya24 opened #679 "[feature request] Support non-ipv4 format node address for dfclient"
### Ⅰ. Issue Description
In my k8s environment, dfclient specifies node address with k8s service name. However, dfget cannot register this supernode IP to supernode because currently it only accepts ipv4 format address. We should support non-ipv4 format node address as well.

[code]

### Ⅱ. Describe what happened
Cannot work normally when specifies non-ipv4 format node address.

### Ⅲ. Describe wh

[2019-07-17 11:45] yunfeiyangbuaa opened #680 "[bug]dfget's supernode API return err"
### Ⅰ. Issue Description
the two [dfget's supernode api](https://github.com/dragonflyoss/Dragonfly/blob/21d2390907a870c2fa51c9d721ca464127c379b5/dfget/core/api/supernode_api.go#L98) will return a json parsing error，but the coder ignores it.
[code]
so when dfget[ use these api](https://github.com/dragonflyoss/Dragonfly/blob/21d2390907a870c2fa51c9d721ca464127c379b5/dfget/core/downloader/p2p_download

[2019-07-17 14:55] allencloud commented on #680
You should add a code link reference for the code block you attached. Because of that, we can find the  code block's context very easily. @yunfeiyangbuaa

[2019-07-17 23:27] tirupatibg opened #681 "Does the dfget always download the content/file from the super node? why can't it talk to the peer node (another client on network) to download the file instead of super node?"
## Question

[2019-07-18 01:37] Starnop commented on #681
Could you please ensure that if the image is transferred through other peer nodes? You can execute the following command:

[code]

[2019-07-18 02:11] yunfeiyangbuaa commented on #680
Done

[2019-07-18 03:17] zhuxinquan commented on #219
Orgnization/Company: DiDi
Location: Beijing, China
Contact: zhuxinquan61@163.com
Purpose/Scenario: Distribute files

[2019-07-18 04:42] tirupatibg commented on #681
Yes, I do see that images is downloading from peer node"/peer/file/" by inspecting network trace.

I don't see the "cdnnode" on the loggers side. How can i assure that content is actually download from the peer node by using loggers.
2019-07-17 21:12:17.532 INFO sign:24113-1563423135.127 : downloading piece:{"taskID":"37df81ef4ecd3693388a205e3e8e81a49ef31532dee5ef8b397d1630c347248a","superNode":"*

[2019-07-18 04:44] tirupatibg opened #684 "Can I use windows machine to run the clients?"
## Question
So far I am using Ubuntu machines for the testing. But can i use the windows machines for the clients and linux for the super node.

[2019-07-18 04:45] tirupatibg opened #685 "what kind of http server runs on the client side?"
## Question
I see that spring boot application runs the embedded tomcat on the super node side. But what kind of http service runs on the client side to sever the peer nodes?

[2019-07-18 06:15] allencloud commented on #685
Currently we suggest users come to use Dragonfly 0.4.x. And It is totally rewrittern withi Golang. So there is no spring boot related staff inside of Dragonfly.
While before version 0.4.0, Dragonfly-supernode is written in Java, dfdaemon and dfget are in Python and Golang. Now all in Golang. @tirupatibg

[2019-07-18 08:34] inoc603 commented on #684
AFAIK there's no linux or macos specific part in dfdaemon and dfget. There's no official Windows release yet, though it's very likely you can build and run the client on windows yourself without much effort.

Would you please give it a try and see whether it works on Windows?

[2019-07-18 08:43] yeya24 opened #687 "[feature request] provide a more flexible way to pass parameter from dfdaemon to dfget"
## Why you need it?

Currently we just directly pass the parameters from dfdaemon to dfget. However these flags are global and sometimes different proxies may need different parameters such as timeout or urlfilters.

We should provide a more flexible way to construct dfget parameters in dfdaemon.

## How it could be?

## Other related information

Related:
https://github.com/dragonflyoss/Dragonfly

[2019-07-18 11:08] allencloud commented on #684
Really appreciate it if you could help to take a test for this. @tirupatibg 👍 ❤️ 🦁

[2019-07-18 11:48] huerlei opened #689 "backsource"
## Question

[2019-07-18 12:57] huerlei opened #691 "When dfget downloads files, there are many TMP ***. backsource files in the - output directory"
## Question

![image](https://user-images.githubusercontent.com/13655961/61459150-af26e700-a99e-11e9-9743-9630d071f068.png)

[2019-07-18 14:58] Starnop commented on #691
@huerlei  Could you please provide the steps to reproduce it? THX.

[2019-07-18 15:03] Starnop commented on #681
New question has been submitted in the new issue #685. So close it now.

[2019-07-18 15:03] #681 closed

[2019-07-18 15:10] #197 closed

[2019-07-18 18:35] tirupatibg commented on #685
Thanks @allencloud for sharing the info
I don't see the the branch 0.4.x in GitHub. where can i get this branch?

[2019-07-19 01:02] tirupatibg opened #693 "GO - Unable to build the super node with master branch"
### Ⅰ. Failed to build the super node with master branch (with go lang)

### Ⅱ. Build failed (make build-supernode) with SSL handshake exception

### Ⅲ. Build should not be failed and it give supernode to be up&running

### Ⅳ. Steps to repro

1. git clone https://github.com/dragonflyoss/Dragonfly.git
2. cd Dragonfly
3. make build-supernode

### Ⅴ. Anything else we need to know?

go: finding github

[2019-07-19 01:37] Starnop commented on #693
Could you please make a check for your network connection?

[2019-07-19 02:55] allencloud commented on #685
Actually latest branch master is the version 0.4.x. This is the correct one you should use. @tirupatibg

[2019-07-19 07:15] pouchrobot opened #695 "WeeklyReport of Dragonfly from 2019-07-12 to 2019-07-19"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-07-19 17:44] tirupatibg commented on #685
@allencloud But when i try to build the master. Build getting failed. I tried to set up server using go.

Not sure whether master is in working condition or not.
NOTE: The Golang version supernode is not ready for production usage. However, you can use it more easily in your test environment.

Here is is exception trace:
Begin to build supernode.
./hack/build.sh supernode
Begin to build in the loc

[2019-07-20 01:02] tirupatibg commented on #693
@Starnop I don't have any issue with network connection. I was able to build the client code on the same machine with version 0.3.x

[2019-07-20 01:10] tirupatibg opened #697 "What is the possibly of the client connects to the peer client (not super node) to download the file."
## Question
How much time the file will be stored (or in memory) in the client to serve the peer client.
Or what is the expiration of the file at the client side to serve to peer node?

My observation is that, once the first client download the file, it keep file in-memory for certain time (10 min), with this duration when other client requests the same file, then this file will be served.

What i

[2019-07-20 01:13] tirupatibg opened #698 "Can I deploy the super node in the cloud?"
## Question
1. Can i deploy the super node in the cloud? My use case is something like super node would be hosted in the cloud, the very first download of a file should be serve from the super node. and subsequent downloads should be served from peer clients. Here my main usecase is just to reduce the internet bandwidth as well as I don't want to deploy the super node in the customer place.

[2019-07-20 01:22] tirupatibg opened #699 "Unable to build the client (dfget/dfdaemon) on the windows platform"
### Ⅰ. Unable to build the client on windows machine

### Ⅱ. Describe what happened
Found undefined syscall.Stat_t

### Ⅲ. Describe what you expected to happen
Build should not fail.

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1. git clone https://github.com/dragonflyoss/Dragonfly.git - Clone on the GOPATH folder
2. Go to the DragonFly/cmd/dfclient
3. go build main.go

##

[2019-07-20 01:24] tirupatibg commented on #699
I see the *syscall.Stat_t is specific to the linux flavored platforms  and doesn't apply for the windows platform.

[2019-07-22 08:26] Starnop commented on #699
In fact, maybe we have no plan to support the Windows platform and could you please tell us your usage scenarios?

[2019-07-22 08:33] cd1989 opened #702 "Pull image again encounter 502 error"
### Ⅰ. Issue Description

The following error occurs when I:

- pull one image
- remove it with `docker rmi -f`
- pull the image again

[code]
Logs of dfclient:

[code]

### Ⅱ. Describe what happened

Image pull failed with 502 error, and wait some time (1 min), pull again, it succeeded.

### Ⅲ. Describe what you expected to happen

Image pulled successfully anytime I want.

### Ⅳ. How to reproduc

[2019-07-22 08:35] Starnop commented on #698
I think the answer is yes. However, the supernode with version 0.4.x is refactored by golang not long ago and it's not ready for production usage.

If you use a scene that does not require high availability, and welcome to experience the golang version. And it's much better to give us some feedback. 😄  If not, it's recommended to  0.3.x with java firstly and wait for gray when the golang version i

[2019-07-22 08:42] Starnop commented on #697
FYI. https://github.com/dragonflyoss/website/blob/8a048f98c6315ff60ae14854579e5fb8147f6905/docs/en-us/faq.md#why-does-dfget-still-keep-running-after-fileimage-distribution-finished

[2019-07-22 08:58] #695 closed

[2019-07-22 09:01] Starnop commented on #693
The version 0.3.x was written by java and 0.4.x was written by golang. And now the master branch manage the dependency with go mod which will download the dependency according to the go.mod and go.sum files. So please make sure that you can success to ping `https://goproxy.io`.

[2019-07-22 09:03] Starnop commented on #684
related issue: #699

[2019-07-22 09:42] allencloud opened #704 "[flaky test] RateLimiterSuite.TestRateLimiter_AcquireBlocking fails sometimes"
### Ⅰ. Issue Description

In pr https://github.com/dragonflyoss/Dragonfly/pull/703, which is a doc-related PR, there is a unit test failure: https://circleci.com/gh/dragonflyoss/Dragonfly/8159?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
[code]

### Ⅱ. Describe what happened
There is a flaky test case there.

### Ⅲ. Describe what you expected to happen
No flak

[2019-07-23 04:25] sxauyhz commented on #702
me too

[2019-07-23 04:47] sxauyhz commented on #702
me too!!
error pulling image configuration: received unexpected HTTP status: 503 Service Unavailable

[2019-07-23 05:47] sxauyhz commented on #702
me too!!，版本0.4.2
### 1，a b 两个节点，先在a节点执行docker pull完成后，再在b节点执行docker pull如下报错：
error pulling image configuration: received unexpected HTTP status: 503 Service Unavailable
再次执行docker pull是可OK的。
### 2，dfdaemon节点log：
2019-07-23 13:30:18.061 INFO sign:4615-1563859818.058 : do register result:{"code":200,"msg":"success","data":{"taskId":"07ed3d418973e74784b7c23c1d83447152e005e2840c601196cc1eddd0434b33",

[2019-07-23 07:59] yeya24 commented on #693
@tirupatibg  Did you still have problems building dragonfly?
It seems a problem from goproxy.io. We set the environment variable GORPOXY to https://goproxy.io at https://github.com/dragonflyoss/Dragonfly/blob/c5d08731c856c3f71d09eb0a0dc7567754f7a0ed/Makefile#L26  and https://github.com/dragonflyoss/Dragonfly/blob/c5d08731c856c3f71d09eb0a0dc7567754f7a0ed/hack/env.sh#L29
Can you please have a try to

[2019-07-23 12:18] cd1989 commented on #702
Set a longer timeout by decrease `minrate` in `dfget.yml` seems to work for me.

[code]

[2019-07-23 16:31] yeya24 commented on #702
@sxauyhz Can you have a try to setting minRate in `/etc/dragonfly/dfget.yml` as @cd1989 said?
Actually you should set minRate to int values, otherwise it will  unmarshal failed.
[code]
This is an example to set minimal rate as 20k.

[2019-07-25 03:35] Starnop commented on #687
Maybe we can add a string field for dfdaemon such as `dfgetParam` which will be passed to dfget just as @lowzj mentioned [here](https://github.com/dragonflyoss/Dragonfly/pull/670#pullrequestreview-262173464).

[2019-07-25 04:13] lowzj commented on #687
The `dfgetParam` of a proxy inherits and overrides the `flags` of `dfdaemon` passed to `dfget`.

[2019-07-25 04:21] yeya24 commented on #687
Do we need that key-value map? What about just using k-v pair like `minrate: 20k`?

IMO if we want to use config files to pass variables, is it  confusing to still pass variables from dfdaemon flags? Maybe we can add a field of `globalParams` in configuration and remove most of flags from dfdaemon.

[2019-07-25 06:52] sxauyhz commented on #702
starnop/supernode:0.4.3_pre2
starnop/dfclient:0.4.3_pre2 测试暂时未复现

[2019-07-25 06:54] Starnop commented on #687
I agree with that.

[2019-07-25 06:59] sxauyhz commented on #702
2019-07-22 05:31:14.289 INFO sign:175-1563773474.195 : downloading piece:{"taskID":"8a991426954e1ad419c72ef55679648b00cc862cfa74dc7189ae30acedc03dec","superNode":"192.168.21.16:8002","dstCid":"","range":"","result":502,"status":700,"pieceSize":0,"pieceNum":0}
此处dstCid为空，表示任务开始，是一直正常状态。

[2019-07-25 07:08] Starnop commented on #687
Good suggestion. A globalParams is necessary and I think it's better to temporarily reserve the way to pass parameters via flag. WDYT?

So let's do these things next:
1. use config file to pass the values to dfget firstly and merge the configs from config file and flags.
2. provide a config template and with a script that automatically generates it

@lowzj @yeya24 Any other supplements？

[2019-07-25 07:50] yongjiexudaocloud opened #723 "701"

[2019-07-25 07:55] #723 closed

[2019-07-25 07:59] lowzj commented on #687
agree

[2019-07-25 08:45] Starnop commented on #687
@yeya24 So would you like to do that? 😄

[2019-07-25 08:47] yeya24 commented on #687
Sure
/assign

[2019-07-25 12:54] sxauyhz commented on #702
dfget 的--timeout 是干啥的，和minRate: 20480区别是啥 ?
@yeya24

[2019-07-25 13:12] yeya24 commented on #702
The --timeout specifies the max time for one task to run. If your pulling process exceeds this time and then downloading will fail.
The minRate specifies the minimum download rate, if timeout isn't specified from dfget flag, supernode will calculate timeout using `file length / minRate `. So the minRate you set smaller, the download timeout you get will be larger.
Actually these two parameters wor

[2019-07-25 13:35] sxauyhz commented on #702
我感觉这个配置逻辑怪怪的，假如都封装给dfdaemon，透传给dfget就容易理解了。本来dfdaemon日志超时，但是要配置dfget.yaml ，感觉写到dfdaemon.yaml更合理。 @yeya24

[2019-07-25 13:45] yeya24 commented on #702
Yes. It is quite confusing. Now we are planning to refactor this part. You can check out https://github.com/dragonflyoss/Dragonfly/issues/687 for more details.

[2019-07-26 07:26] pouchrobot opened #728 "WeeklyReport of Dragonfly from 2019-07-19 to 2019-07-26"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-07-26 07:55] anjia0532 commented on #679
0.4.2 用hostname也报错，必须得用ipv4

[2019-07-26 08:23] Starnop commented on #679
I have submitted a PR to fix it. FYI #729

[2019-07-26 08:45] anjia0532 commented on #679
@Starnop thanks for your job.   : )

[2019-07-28 15:18] NikitaChr opened #733 "Missing /etc/dragonfly/dfget.yml"
## Missing /etc/dragonfly/dfget.yml

Hi I am setting up Dragonfly in Containernet for simulations in my master thesis.

Dfget works fine and I want to follow the [Downloading Files with Dragonfly guide](https://github.com/dragonflyoss/Dragonfly/blob/master/docs/user_guide/download_files.md) to avoid having to insert the supernode's IP everytime with the --node flag.
However I cannot find the dfget

[2019-07-28 15:34] yeya24 commented on #733
These config files are not in the container and you have to create dfget.yml manually.

[2019-07-28 19:54] Smashbroser commented on #733
@yeya24 thanks.
So I created the dfget.yml and copied it into the /etc/dragonfly directory of every client.
The dfget.yml looks like this at the moment.
[code]
With 44.44.12.1 being the IP address of the supernode.
However when I download a file with:
```#dfget --url https://test.com/test.png -o test.png```
the client downloads the file directly from the source and not via the supernode.
The dfcli

[2019-07-29 03:28] YCait opened #734 "Except logs , how do I know the downloading fails ?"
## Question

I want to call dfget directly in the project code. Except logs, how do I know the downloading task has failed and why ?

[2019-07-29 03:34] #728 closed

[2019-07-29 13:13] NikitaChr commented on #219
Orgnization/Company: TU Ilmenau (student)
Location: Ilmenau, Germany
Contact: nikita-paul.chruscz@tu-ilmenau.de
Purpose/Scenario:
Master thesis evaluation of software distribution systems for distribution of fog-computing services in meshed WANs.

[2019-07-29 16:00] yeya24 commented on #687
I have a question about how to deal with the config files between dfdaemon and dfget. If we set some dfgetParams, how we deal with dfget.yml?

[2019-07-29 16:10] yeya24 commented on #733
@NikitaChr  Which version of dfget did you use?
If dfget cannot register to supernode, it will try to download the file from source except you specify `--notbs` when you start dfget.

In your case, your configuration file looks correct generally. Could you have a check about the yaml format? You could make a check in your dfclient.log by `less  dfclient.log | grep initProperties`

[2019-07-29 16:51] NikitaChr commented on #733
@yeya24 I use dfget version:0.4.2.

The output looks like the following:
[code]
Many thanks in advance!

[2019-07-30 01:08] yeya24 commented on #733
From the logs output, the dfget.yml had some format problem so it cannot be unmarshalled correctly. Can you check it again or you can paste your config file here.

[2019-07-30 01:56] lowzj commented on #687
The properties of `dfget` from CLI flags have a higher priority than config files.
The priority of properties that `dfdfaemon` passed to `dfget`:
[code]

[2019-07-30 12:36] NikitaChr commented on #733
I get the same result everytime I download with `dfget --verbose --url ... --node ...  --notbs`
Here is the dfget.yml file: [dfget.zip](https://github.com/dragonflyoss/Dragonfly/files/3446644/dfget.zip)

Also I create the .yml with a python script like this:
[code]
Maybe there is an issue with the size of the tab stop python uses?

[2019-07-30 13:31] yeya24 commented on #733
@NikitaChr  You can checkout yaml format first [wiki](https://en.wikipedia.org/wiki/YAML).
Yaml file uses spaces to do indentation, and tab is not allowed.

[2019-07-30 14:02] zgfh commented on #366
@allencloud it mean task?
![image](https://user-images.githubusercontent.com/11729624/62135933-b393be00-b315-11e9-874a-247ad65bbec8.png)

[2019-07-30 15:29] NikitaChr commented on #733
@yeya24 That helped a lot thanks!
I removed the tab and now it works fine without using the --node flag.
It might be helpful to change in the [Downloading Files with Dragonfly](https://github.com/dragonflyoss/Dragonfly/blob/master/docs/user_guide/download_files.md) guide.

[2019-07-30 15:29] #733 closed

[2019-07-30 15:40] yeya24 commented on #733
@NikitaChr  Thanks for reporting! Yeah indeed we need to update the docs to make them more clear...

[2019-07-30 17:23] allencloud commented on #366
Yes，I think you are right. @zgfh

[2019-07-30 20:18] NikiChr opened #749 "How can I use dfget to download files from another node in the same network?"
I have a virtual network with containernet with 4 nodes that run dragonfly:
- 1 supernode
`44.44.12.1`
- 3 clients _dfget version:0.4.2_
`44.44.12.2` has **512MB.zip**
`44.44.13.3`
`44.44.24.4` is supposed to get **512MB.zip**

Do I have to start a server on `44.44.12.2` using `dfget server` to be able to access the node's files?

I naively tried to use dfget on `44.44.24.4` like this `dfget --ver

[2019-07-31 02:18] #734 closed

[2019-07-31 02:26] YCait opened #751 "How can I use dfget in the physical machine when I install dfget by docker?"
## Question

I install dfget and supernode by docker. If I use dfget directly in docker, in this case , the dfclient' register ip is the ip in docker, so it cannot connect to other peers(which are launched by docker too ) on the different machine. How can I solve this problem? I think using dfget in the physical machine not in the docker may solve this problem, but how can I do that?

[2019-07-31 06:50] YCait commented on #751
And will supernodes in the cluster automatically synchronize files?

[2019-07-31 07:55] liy516 opened #753 "Dfclient can normally pull the image of the public warehouse, but failed to pull the image of the private warehouse"
## Question
### dfclient version 0.4.1
`` docker run -d --name dfclient1 -p 65001:65001  -v /etc/dragonfly:/etc/dragonfly -v /root/.small-dragonfly/:/root/.small-dragonfly/  dragonflyoss/dfclient:0.4.1  --registry http://ip  --node 192.168.56.110,192.168.56.102
``
### dfdaemon.yml

**proxies:
 #proxy all http image layer download requests with dfget
 -regx: blobs/sha256:.*
 #proxy requests directl

[2019-07-31 10:19] xzy256 opened #755 "Supernode should add clear process"
## Why
`dfclient` will clear repo data after 3 mins, howerver `supernode` hasn't clear process . It extremely easy cause disk overflow.

## could be
1. Regular cleaning
2. Must have rules : clear long-term non-access images except access frequently images
3. New pull disk overflow error, clear forcibly

[2019-07-31 11:49] wybzju opened #756 "file sync will hang until timeout"
### Ⅰ. Issue Description
file sync will hang sometimes
[code]
the problem code is here
[code]

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen
1. the sync can be finished successfully

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1. download some small length files, and sometimes it will hang at file sync

### Ⅴ. Anything else we need to know?

##

[2019-07-31 14:06] #680 closed

[2019-08-01 05:24] allencloud commented on #756
@wybzju Since you have found the problem cause, could you help to submit a pull request to cover this?

[2019-08-01 05:38] yeya24 commented on #679
Close this issue via #729

[2019-08-01 05:38] #679 closed

[2019-08-01 06:09] yeya24 commented on #651
Hi @inoc603, can you open a pr for this feature?

[2019-08-01 06:23] liy516 opened #765 "if there is a best practice of using dragonfly proxy for two harbor repositories？"
## Question

I hope we can exchange ideas here.

[2019-08-01 06:32] allencloud commented on #765
What is you purpose here? @liy516
Could you please provide more details?

[2019-08-01 06:39] liy516 commented on #765
Now, we have two data centers here, each with a harbor. We want to use dargonfly to proxy the two harbor. When we pull the mirror, when the first one fails to pull the mirror, dfclient can automatically pull the second one

[2019-08-01 09:05] wwq1988 opened #767 "does dragonfly supernode support load balance"
dragonfly supernode seems to be unique?if not ,client will get pieces again?

[2019-08-01 10:18] zgfh commented on #219
Orgnization/Company: DaoCloud
Location: ShangHai, China
Contact: info@daocloud.io
Purpose/Scenario: distribute image to the k8s container system.

[2019-08-01 10:26] inoc603 commented on #651
@yeya24 Sure. I'll open one this weekend.

[2019-08-01 11:59] wybzju commented on #756
@allencloud I don't find out why it will happen

[2019-08-01 13:43] MCC-NO1 opened #773 "ignore /root/.small-dragonfly/dfdaemon/data/: not a regular file"
## Question

I use dfdaemon to pull image from supernode success in the first time. but, when I try again, the dfdaemon logs this error.
![image](https://user-images.githubusercontent.com/27477336/62298173-0fd91800-b4a5-11e9-9ed6-6abb67bffa25.png)

[2019-08-01 13:51] yeya24 commented on #773
Thanks for this question.
This output is kind of confusing but it is not an error. It just means skip running gc in /data directory.
Maybe it is better to make this log to debug level.

[2019-08-02 00:33] mushixun opened #775 "多服务器计算框架支持"
## Why you need it?
随着ARM服务器的崛起，x86服务器将不是唯一选择，对于容器来说，两种计算框架的image是不兼容的，这样就会出现同样的镜像，存在x86版和arm版，这对于用户的镜像管理带来挑战，dragonfly做为镜像下载的管理者，能否提供根据本地服务器的计算架构，自动选择对应的镜像进行下载功能，希望社区能够考虑。

## How it could be?
如镜像registry.test.com/test/demo:1.0，x86版本是registry.test.com/test/demo:1.0_x86，arm版本是registry.test.com/test/demo:1.0_arm，通过df下载镜像时，我是docker pull test/demo:1.0，那dfdaemon能否根据当前服务器的计算架构来自动选择对应镜像，如当前本地服务器是arm架构的，

[2019-08-02 07:26] pouchrobot opened #778 "WeeklyReport of Dragonfly from 2019-07-26 to 2019-08-02"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-08-02 18:23] #628 closed

[2019-08-02 18:26] lowzj commented on #559
closed because of no feedback longtime, please reopen it if you get any new problem.

[2019-08-02 18:26] #559 closed

[2019-08-02 18:28] #72 closed

[2019-08-03 06:47] yeya24 commented on #773
@MCC-NO1  Since it is not a bug, I will close this issue. If you have any other questions about this, feel free to reopen it.

[2019-08-03 06:47] #773 closed

[2019-08-03 17:19] NikiChr opened #782 "Is there a way to tell the origin of pieces when pulling an image with dragonfly?"
## Question
I have a virtual network with containernet that consists out of 4 nodes that run dragonfly:
- 1 supernode
    r1:`44.44.12.1`

- 3 clients dfget version:0.4.2
    r2:`44.44.12.2`
    r3:`44.44.13.3`
    r4:`44.44.24.4`

These nodes are arranged in a ring like this: -r1-r2-r4-r3-r1-

I would like to know where a node gets pieces from when it is pulling an image.
When I download somethin

[2019-08-05 07:21] liy516 opened #784 "docker pull images failed"
## Question
[root@dragonfly02 ~]# docker pull  ip/aitest/qa-sys:v1
v1: Pulling from aitest/qa-sys
ae720948d457: Pulling fs layer

dfclient keeps pulling
## logs
2019-08-05 07:14:50.383 INFO sign:24-1564985760.122 : pull piece task result:{"code":602,"msg":"clientSucCount:64,cdnSucCount:64: {\"Code\":9,\"Msg\":\"peer should wait\"}"} and sleep 1.387s
2019-08-05 07:14:51.780 INFO sign:24-1564985760.

[2019-08-05 13:55] zgfh opened #788 "we should print log to console by default not a file"
## Why you need it?

we should print log to console by default not a file, it will be easy to debug with ide or run Dragonfly with container

## How it could be?

default print log to console
if use config a logfile param, then print log to file

## Other related information

[2019-08-05 14:27] zgfh commented on #751
@YCait you can try `--net=host` https://docs.docker.com/engine/reference/commandline/run/#connect-a-container-to-a-network---network

[2019-08-05 14:30] yeya24 commented on #788
Thanks for your report and I totally agree with you.
But this issue duplicates with https://github.com/dragonflyoss/Dragonfly/issues/651. Also there is already a PR for this feature. https://github.com/dragonflyoss/Dragonfly/pull/783.
So  I will close this.

[2019-08-05 14:30] #788 closed

[2019-08-06 10:36] yeya24 opened #792 "bug: dfgettask should be updated to success status when finish downloading"
### Ⅰ. Issue Description
Currently, when dfget download successfully, it will just exist. So this dfgettask in supernode will remain the status 'RUNNING' until it is deleted. I think this dfgettask should be updated to 'SUCCESS' status when the download is finished.

### Ⅱ. Describe what happened
dfgettask in supernode will remain the status 'RUNNING' even if the download is successfully finished.

[2019-08-08 12:04] hegnee opened #796 "Some questions about pieceHeader"
## Question

[code]
why is contentLength (` pieceHeader & 0xffffff` )and  not ` pieceHeader & 0xffffffff`?
[code]
why  is the value of `PieceHeadSize`   `real data size | (piece size << 4)` ?

[2019-08-08 14:33] lowzj commented on #796
[code]

* `dataSize` is the real content length of a piece, its value is less than the value of `pieceSize`.
* The value of `pieceSize` of a task is fixed, integral multiple of `2^20`, and between `4MB` and `15MB`, so `pieceSize == pieceSize & 0xf00000`. So we can use 4 bits(`BYTES[0][4,7]` of `pieceHeader`) to represent it.
* The lowest 24 bits represent `dataSize`, so we can get the equation  `d

[2019-08-09 07:25] pouchrobot opened #799 "WeeklyReport of Dragonfly from 2019-08-02 to 2019-08-09"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-08-09 09:50] hegnee commented on #796
@lowzj  I understand, thank you for your answer!

[2019-08-09 09:50] #796 closed

[2019-08-09 12:48] Starnop commented on #796
Maybe we can add this answer to the source code as comments. In addition, we should add it as a FAQ item. WDYT? @lowzj

[2019-08-11 02:51] xq2248 commented on #699
@tirupatibg export GOOS=linux before you run "go build".
Sometimes, we just want to check the compile errors in windows.

[2019-08-12 05:46] inoc603 opened #806 "[feature request] New command for dfclient"
## Why you need it?

`dfdaemon` and `dfget` is both meant for the client and is packaged together into `dfclient`. We can merge them into one single command, e.g. `dfclient`, to make distribution easier and enable new features like configuration validation proposed in #627 .

## How it could be?

`dfclient [command] [options...]`

commands:
- `daemon`: run dfdaemon
- `get`: run dfget
- `run [comma

[2019-08-12 13:47] #799 closed

[2019-08-12 13:49] allencloud commented on #704
Actually it have not occurred for the recent 20 days. We will keep looking for some time( half a month). If it does not happen again, we will close this.

[2019-08-12 13:50] #778 closed

[2019-08-13 04:51] yeya24 commented on #806
Agree with this idea. IMO using one command is much better.

[2019-08-13 07:25] kelgon opened #810 "dfget hangs when downloading file from URL with query string (0.4.3)"
### Ⅰ. Issue Description
When downloading with dfget from a url with query string, dfget hangs forever
[code]
There are bunch of repeated logs in dfclient.log:
[code]

This behavior won't happen if I remove the query string from the url:
[code]

NOTE: files are identical with or without the query string
NOTE: only happens on supernode 0.4.3. I've tried 0.4.2 supernode 0.4.2(with dfget 0.4.3), file

[2019-08-13 08:26] Starnop commented on #810
You should define the `--urlfilter` or `-f`  flag for dfget. FYI. https://github.com/dragonflyoss/Dragonfly/blob/master/dfdaemon/config/config.go#L43

[2019-08-14 02:33] kelgon commented on #810
Yes, but what if `/file?id=1` and `/file?id=2` is actually two different files? query param `id` cannot be filtered in this case

[2019-08-14 03:17] lowzj commented on #810
Could you paste the related dfget's and supernode's logs of the task? see: [FAQ](https://github.com/dragonflyoss/Dragonfly/blob/master/FAQ.md#how-to-view-all-the-dfget-logs-of-a-task)

[2019-08-14 03:50] kelgon commented on #810
dfclient.log
[code]

app.log
[code]

[2019-08-15 00:52] yunfeiyangbuaa opened #817 "[bug]The dfget cli output is ugly"
## Why you need it?

[code]

The dfget cli is ugly,no pause ,i can't find the information i want clearly,
## How it could be?

## Other related information

[2019-08-15 01:30] YoungJzy commented on #775
可以了解下docker manifest，用来制作跨平台镜像的，docker官方的镜像都是这么做的，centos的镜像用docker manifest inspect看一下，就是多平台的，拉镜像会自动识别平台架构拉取相应镜像。但不知道df是否支持。

[2019-08-15 02:39] inoc603 commented on #817
Could you describe what information is missing and how you'd like it to be displayed, in a bit more detail?

[2019-08-15 02:50] inoc603 commented on #775
@mushixun FYI, [documentation on docker manifest](https://docs.docker.com/engine/reference/commandline/manifest/).

Although I haven't try it, I would guess that the docker daemon does this automatically, and df should support it out of the box. We should take a look at how the docker daemon handles this to make sure.

[2019-08-15 03:10] Starnop commented on #817
I think it's indeed caused by missing line breaks. @yunfeiyangbuaa Would you like to perfect this?

[2019-08-15 03:14] Starnop commented on #810
Could you please paste more logs of supernode. It is difficult to locate the problem for little information.

[2019-08-15 03:52] kelgon commented on #810
I've pasted everything, there are no other supernode logs beyond. (dfclient.log continues to print the last line until I terminate dfget)

[2019-08-15 04:36] inoc603 commented on #817
Didn't realize that "no pause" means "no new lines"... In such case, this issue may be better categorized as a bug or an enhancement, rather than a feature @Starnop .

[2019-08-15 05:02] yunfeiyangbuaa commented on #817
I will  do with it

[2019-08-15 05:07] yunfeiyangbuaa commented on #817
dfget version nessary?,I only care about the download information instead of that.
`SUCCESS(0)`In fact ,suceess(0) make me confused,it look like my work is failed
I wan't to see cid.coat time.file dir.file size,how many download.is success? @inoc603

[2019-08-15 05:10] yunfeiyangbuaa commented on #817
I want to see how many piece are downloading,and how many pieces is successful @Starnop @inoc603

[2019-08-15 06:44] Starnop commented on #792
I think we can update the status [here]( https://github.com/dragonflyoss/Dragonfly/blob/master/supernode/daemon/mgr/task/manager_util.go#L318). WDYT?

[2019-08-15 06:46] Starnop commented on #755
We are doing it in the pr #779. Welcome to have a review.

[2019-08-15 06:49] Starnop commented on #753
You have to add the domain prefix to use Dragonfly as your proxy. Just like this:
[code]

And FYI. #525

[2019-08-15 06:54] Starnop commented on #751
What's that mean? If you are talking about multi supernodes which specified by the dfget, and then that may will disappointed you. There is no relationship between supernodes.

However, we are doing the HA of supernode. FYI> https://github.com/dragonflyoss/Dragonfly/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aopen+HA

[2019-08-15 07:05] Starnop commented on #749
Unfortunately, you can't download files directly from `44.44.24.2` which has been downloaded the file that you want.

[2019-08-15 07:06] Starnop commented on #697
Would you please close this issue if you have no more related questions? THX>

[2019-08-15 07:08] Starnop commented on #699
@tirupatibg Would you please close this issue if you have no more related problems. THX>

[2019-08-15 07:52] yeya24 commented on #792
This place LGTM. I will open PR soon after I test it in my local env.

[2019-08-15 12:33] #792 closed

[2019-08-15 13:13] NikiChr commented on #749
@Starnop thanks!
I thought that you can use `dfget server` to supply files to the network.
But I must have misunderstood that.

[2019-08-15 13:13] #749 closed

[2019-08-15 15:31] yeya24 opened #824 "[feature request] add dfget flags check"
## Why you need it?

We cannot ensure the dfget flags are correct now. For robustness of the program,  we must add some check mechanism to ensure configuration is correct.

## How it could be?

## Other related information

[2019-08-16 03:57] inoc603 commented on #824
I think we can refactor dfget/config.Properties a little bit, put all configurable options of dfget in there, like what we did with dfdaemon. Then in yaml files, we can use a struct rather than a list of strings, which is easier to to parse and validate.

[2019-08-16 04:19] yeya24 commented on #824
Agree. A struct for dfget params is what I want.

[2019-08-16 07:25] pouchrobot opened #827 "WeeklyReport of Dragonfly from 2019-08-09 to 2019-08-16"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-08-16 07:42] Starnop commented on #817
I don't think it's suitable to output the stdout. You can output to the log file with debug level.

[2019-08-16 07:43] Starnop commented on #817
I totally agree with you.

[2019-08-16 07:45] Starnop commented on #817
Update `SUCCESS(0)` to `SUCCESS` is OK.

[2019-08-16 15:28] #827 closed

[2019-08-16 16:40] NikiChr commented on #782
172.18.0.2 was the IP of every dfclient and supernode container inside my containernet containers.
[code]

By passing `--network host` to the dfclient and supernode container like this:
[code]
changed the IP address displayed in the dfclient.log after pulling an image.
If the image is not present in the network and downloaded solely by the supernode it is indicated by the docker IP `"dstCid":"cdnn

[2019-08-18 10:49] weekly-digest[bot] opened #835 "Weekly Digest (11 August, 2019 - 18 August, 2019)"
Here's the **Weekly Digest** for [*dragonflyoss/Dragonfly*](https://github.com/dragonflyoss/Dragonfly):

 - - -
# ISSUES
Last week 34 issues were created.
Of these, 19 issues have been closed and 15 issues are still open.
## OPEN ISSUES
:green_heart: #834 [api.md: cleanup by fix some typos](https://github.com/dragonflyoss/Dragonfly/pull/834), by [ethan-daocloud](https://github.com/ethan-daocloud)

[2019-08-18 12:10] zgfh opened #836 "error Config.LocalLimit description"
### Ⅰ. Issue Description
the Properties.LocalLimit is `int`, but description is `format: 20M/m/K/k`
https://github.com/dragonflyoss/Dragonfly/blob/master/dfget/config/config.go#L62

should I change Properties.LocalLimit to `string` and transform to int use `transParams`?

[2019-08-19 15:11] allencloud opened #838 "[doc request] add comparison of CNCF/Dragonfly and uber/kraken in FAQ.md"
## Question

Since kraken's open source late last year, lots of engineers in ecosystem are very curious about the common features and differences of Dragonfly and kraken.

The detailed information would be helpful for cloud native participants.

I add this proposal to add comparison of two tool in file [FAQ.md](https://github.com/dragonflyoss/Dragonfly/blob/master/FAQ.md)

[2019-08-20 03:53] yeya24 opened #840 "[feature request] add gc metrics and remove stale task metrics when gc"
## Why you need it?

Since #779 has been merged, I think gc is one important part for supernode and we should add some metrics for it. e.g. Total times of gc

Besides, currently we have some metrics to track the status of tasks and dfget tasks. When supernode does some gc works,  we must clean up and remove stale task metrics as well.

## How it could be?

Described as above.

## Other related inf

[2019-08-20 07:25] yeya24 commented on #836
I hope we can make the configuration more readable.
For some configuration like `timeout`, we still use int type like 3600. Change to string is much readable such as `5d`, `10m`.

[2019-08-20 17:08] allencloud commented on #346
Since the Golang refactoring has finished, I think I can close it.
Honestly speaking, it is a big step for Dragonfly. Thanks for your work. @Starnop @lowzj and some other important contributors. 🌷

[2019-08-20 17:08] #346 closed

[2019-08-21 03:24] yunfeiyangbuaa opened #844 "[bug]supernode server down failed"
### Ⅰ. Issue Description
[code]
 s.DfgetTaskMgr.Get(ctx, cID, taskID) dfgetTask will be delete before because of gc,so server down failed.

### Ⅱ. Describe what happened
server down failed

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.log the err
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- dragonfly ver

[2019-08-21 05:50] Starnop commented on #844
Could you please provide more logs about `dfserver`,`dfget` and `supernode`?

[2019-08-21 05:57] Starnop commented on #836
Yeah, please help to update the comments. THX.

[2019-08-21 06:06] yunfeiyangbuaa commented on #844
all the log is right ,because the code hacen't print the err,if you print ,it will some time happen data not found .because the gc progress delete the dfget before server down .so supernode can't run s.ProgressMgr.UpdatePeerServiceDown(ctx, dfgetTask.PeerID).

[2019-08-21 06:24] yunfeiyangbuaa commented on #844
[code]
I add a log print,and happen this err
[code]
the dfget  are these
[code]

[2019-08-21 06:25] yunfeiyangbuaa commented on #844
20  fails 5 @Starnop

[2019-08-21 06:27] yunfeiyangbuaa commented on #844
if you add a dfgeTask.ADD and dfgetTask.Delete,you can find dfgetTask delete before server down some times  @Starnop @lowzj

[2019-08-21 07:06] yunfeiyangbuaa commented on #844
And add dfgetTask look like much more than delete dfgetTask ,which means memory will be full after a long time @Starnop

[2019-08-21 07:12] yunfeiyangbuaa commented on #844
[code]

gc  maybe fails

[2019-08-21 07:23] yeya24 opened #845 "[bug] gc task function always return true"
### Ⅰ. Issue Description
https://github.com/dragonflyoss/Dragonfly/blob/8e41c83bebd770279728c251f0f916d58569a96d/supernode/daemon/mgr/gc/gc_task.go#L61-L87
This function always return true. So this part is kind of meaningless because it never return false.
https://github.com/dragonflyoss/Dragonfly/blob/8e41c83bebd770279728c251f0f916d58569a96d/supernode/daemon/mgr/gc/gc_task.go#L52

Maybe it is not

[2019-08-21 19:55] yevgenypats opened #846 "Suggestion: Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers (This is generic step not-connected to fuzzit)
- Continuous Fuzzing of master branch which will generate new corp

[2019-08-22 01:45] yunfeiyangbuaa opened #847 "How to design a effecient and compatible HA"
## Why you need it?

We know supernode is stand-alone .which meanes supenrode can’t communicate with each other. So supenrode can’t make a better use of the cdn file and can’t give a better schedule based on all the peer information hold on all the supenrode .What’s more, if a supernode crashes ,all the dfget task in that supernode will crash. So implement supernode ha will be a great promotion fo

[2019-08-22 01:46] lowzj commented on #846
I would like it! Welcome to contribute a PR if you feel free. And we prefer to run `Fuzzit` on Circle-CI. Could you apply it to `.circle/config.yml`?

[2019-08-22 02:33] SataQiu opened #848 "Enable staticcheck for this repo"
## Why you need it?

`staticcheck` is useful, it can help to do go static analysis, detect bugs, performance issues, and much more. A lot of repos use `staticcheck` as a code check tool.

Ref: https://github.com/dominikh/go-tools

If this makes sense, I'd like to help introduce the `staticcheck`.

## How it could be?

## Other related information

[2019-08-22 02:41] allencloud commented on #848
I totally support that we need this. Code quality is one of the most important things we emphasize.

[2019-08-22 02:51] SataQiu commented on #848
OK! @allencloud
I will send a PR to deal with this. :smile:

[2019-08-22 04:46] xzy256 opened #850 "Dragonfly for docker image distribution"
## Question

I test the dragonfly for image distribution efficiency. I have 2 supernode,  18 dfclient.  I simulate dfclient pull 20G image at some time with `crontab`. Only 2 dfclient can pull successfully. Others occur `Get https://registry-1.docker.io/v2/: dial tcp 34.232.31.24:443: connect: network is unreachable` error, some image mirror layer print output like `60b1ddcd47df: Retrying in 1 sec

[2019-08-22 06:46] lowzj commented on #850
What's your `docker pull` command?

[2019-08-22 06:58] xzy256 commented on #850
docker pull deep/sogou-centos7-vm-cuda8-base:tf1.8.0

[2019-08-22 07:00] xzy256 commented on #850
@Starnop say that

[2019-08-22 07:50] yevgenypats commented on #846
Hi @lowzj , cool! Sure fuzzit can work with circle (I think in Prometheus it's integrated via Circle).

Also, I need to mention that we have a [reward program](https://fuzzit.dev/2019/08/12/announcing-rewards-for-go-rust-oss-projects/) in case you have time/want to implement this yourself I would be happy to reward you as well as get unbiased feedback on how smooth the integration was. Let me know

[2019-08-23 03:13] yeya24 opened #853 "[bug] current dfget task metrics < 0"
### Ⅰ. Issue Description
I run my supernode in master branch and find out that dfget tasks metrics value < 0 in the Grafana Dashboard. This is not what we expect.
![image](https://user-images.githubusercontent.com/25150124/63564138-70381280-c596-11e9-810d-f11f7ac4b126.png)

### Ⅱ. Describe what happened
After digging into this code, I found that the problem is from gcing supernode dfget tasks.
Whe

[2019-08-23 06:37] #853 closed

[2019-08-23 07:24] pouchrobot opened #856 "WeeklyReport of Dragonfly from 2019-08-16 to 2019-08-23"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-08-23 08:39] #817 closed

[2019-08-27 05:19] #856 closed

[2019-08-28 03:12] #848 closed

[2019-08-28 09:37] zhm9484 opened #864 "What is the purpose of time.Sleep in function pullPieceTask of P2PDownloader?"
## Question

I wonder that why there is time.Sleep in function pullPieceTask. It may slows down the whole download process.
Is it meant to reduce the pressure on supernode?

Thanks for answering!

https://github.com/dragonflyoss/Dragonfly/blob/3cbac7639dec3cb25a7c3c28ff0ac12558be5092/dfget/core/downloader/p2p_downloader/p2p_downloader.go#L232-L247

[2019-08-28 13:17] lowzj commented on #864
It just sleep when there're no available piece to download in the p2p network. The clients should wait a moment for supernode to download a piece data from source file server.

[2019-08-28 16:02] zhm9484 commented on #864
Thanks for replying!
So is it possible to shorten the sleeping duration in order to reduce the latency?

[2019-08-29 13:30] lowzj commented on #864
The sleep time maybe long when we download a small file. It can be optimized to adjust the sleep time according to the file length and download speed.

[2019-08-30 03:53] liudechi7 opened #867 "supernode disk gc"
Supernode does not currently have disk cleanup capabilities。
when this function can be ready?

[2019-08-30 05:28] Starnop commented on #867
I will finish it ASAP. 😄

[2019-08-30 05:40] Starnop commented on #864
I have finished it in the PR #815 BTW. PLAT. THX

[2019-08-30 07:24] pouchrobot opened #868 "WeeklyReport of Dragonfly from 2019-08-23 to 2019-08-30"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-08-31 18:53] yeya24 commented on #836
Actually I don't think it is a problem about the comment.
Just using int type to represent these types like `duration` or `rate` is kind of unreadable.
I hope we can use some string to represent these. Like `5d`, `10m`. For rate, we can use `10K` or `1M`. Using this is much better than just use integer like `10407568`

WDYT @Starnop @allencloud  @lowzj

[2019-09-01 03:45] inoc603 commented on #836
For duration, `time.Duration` can be unmarshalled from strings like `5d`, `10m` in yaml and json by default. For rates, we can change int to a named type `type Rate int`, and add `UnmarshalJSON(YAML)` and `String` method to it, to make the refactor as smooth as possible.

[2019-09-01 11:58] yeya24 commented on #836
Yes, I will open a PR soon.
/assign

[2019-09-01 15:36] #868 closed

[2019-09-03 06:12] sunny-zyl opened #875 "When make install the dragonfly, the log show:cannot stat ‘../bin/linux_amd64/dfdaemon’: No such file or directory"
## Question

make build-supernode && make install
......
Begin to install dfget and dfdaemon and supernode.
./hack/install.sh install
install: /opt/dragonfly/df-client
cp: cannot stat ‘../bin/linux_amd64/dfdaemon’: No such file or directory
make: *** [install] Error 1

[2019-09-03 07:17] sunny-zyl commented on #875
The correct command is :
make build-supernode && make install-supernode
Please check it and update the doc.

[2019-09-03 19:46] yeya24 commented on #875
Thanks for your reporting.  We will update it ASAP.

[2019-09-04 01:23] #864 closed

[2019-09-04 02:36] Starnop opened #879 "[Help wanted] feature: support dfget configuration items support formats such as 20M/m/K/k"
## Why you need it?

The users have to convert config values to bytes when users want to config the dfget item such as `localLimit`, `totalLimit` and `minRate`. That's not user-friendly. So we should make these items support formats such as `20M/m/K/k`.

## How it could be?

## Other related information

Please pay attention to [this PR](https://github.com/dragonflyoss/Dragonfly/pull/802#discussio

[2019-09-04 02:45] Starnop commented on #875
And could you please submit a pull request to fix that. That's so easy to just update the [doc](https://github.com/dragonflyoss/Dragonfly/blob/master/docs/user_guide/install_server.md#procedure---when-deploying-with-physical-machines). 😄

[2019-09-04 02:57] yeya24 commented on #879
I have already implemented it, I will open a PR after I finish the tests.

[2019-09-04 03:25] #844 closed

[2019-09-06 03:49] yunfeiyanggzq opened #884 "[feature] the gc parameter can't be configured by cli"
## Why you need it?

[code]
the gc  parameter can't  be configured by cli. user  may need it

## How it could be?

## Other related information

[2019-09-06 05:24] yunfeiyanggzq opened #886 "[bug] when peer sever down fails,the gc progress can't gc the peer"
### Ⅰ. Issue Description

### Ⅱ. Describe what happened
if   peer  download finish and send server down fails,the gc progress can't gc the peer.although the blanklist can mark the peer ,but can't gc it.

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- dragonfly

[2019-09-06 07:24] pouchrobot opened #887 "WeeklyReport of Dragonfly from 2019-08-30 to 2019-09-06"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-09-06 11:01] kobeHub commented on #782
I have the same question too

[2019-09-11 07:52] #884 closed

[2019-09-11 12:37] lowzj commented on #824
Agree.

Agree if the `yaml` you said here is `dfget.yml`.

Not agree if it's `dfdaemon.yml`.

Although we often say that dragonfly is used to distribute images, in fact, dragonfly can support a variety of http file distribution. We can use `dfget` independently without `dfdaemon`. We can use the same `dfget` to download common files and download image layers on the same host.
It means that `dfget`

[2019-09-12 02:10] tanjunchen opened #892 "the same func IsEmptyStr in assert and stringutils package"
## Question

Can we remove one func  IsEmptyStr of the two packages?
![image](https://user-images.githubusercontent.com/19339970/64748658-73933e00-d545-11e9-96e5-a0ae88afcbaf.png)

[2019-09-12 03:51] yeya24 commented on #892
Thanks for your report!  Indeed, maybe this is a miss and we really need to clean it up.
Could you please open a PR for it?

[2019-09-12 05:58] tanjunchen commented on #892
@yeya24 Ok Thank you !

[2019-09-12 11:16] yunfeiyanggzq opened #895 "[bug]In fact,supernode blanklist can't work in master"
### Ⅰ. Issue Description
the supernode blanklist can't work in master

### Ⅱ. Describe what happened

[code]

and

[code]

we should find a blanklist by srcPid and disPid,but the supernode now judge  all by  dstPID.so supernode can't work with blanklist

supernode is so Ke Pa!!!

[2019-09-12 14:34] #895 closed, assigned to nobody

[2019-09-12 16:24] yeya24 opened #897 "clean up submodule beego"
### Ⅰ. Issue Description

### Ⅱ. Describe what happened
![image](https://user-images.githubusercontent.com/25150124/64802150-050bab80-d558-11e9-857a-885e31deb5c7.png)

Looks like this submodule is introduced in https://github.com/dragonflyoss/Dragonfly/pull/889 by mistake, we should remove it.

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as p

[2019-09-13 03:47] yeya24 opened #900 "[bug] dfdaemon flag --node don't work"
### Ⅰ. Issue Description
In master branch, maybe there is a bug for --node, I cannot specify the supernode address I want, and it always become the default value 127.0.0.1:8002

### Ⅱ. Describe what happened
I started supernode in localhost:8002, and started dfdaemon with `dfdaemon --node 127.0.0.1:9000`, here I specified a non-exist address and expected that dfdaemon cannot work.

logs of dfdaemo

[2019-09-13 07:25] pouchrobot opened #901 "WeeklyReport of Dragonfly from 2019-09-06 to 2019-09-13"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-09-13 12:49] #897 closed

[2019-09-13 16:37] inoc603 commented on #900
`"supernodes": null` seems to be caused by https://github.com/dragonflyoss/Dragonfly/pull/849. It fixed the config file, but broke cli flag. The root cause is how viper handles alias, which doesn't quite work for our use case. #903 should fix this, and added related tests.

[2019-09-14 04:25] yunfeiyanggzq opened #904 "[bug]the peer gc over will need a long time"
### Ⅰ. Issue Description

### Ⅱ. Describe what happened
we wan to gc a peer after it  reported server down three minutes ago,but actually it will be  long long .....because the form of time
[code]
the fmt result is as follows:
yunfeiyang@buaa:~/go/src/github.com/dragonflyoss/Dragonfly/cmd/supernode$ sudo go run main.go --advertise-ip 127.0.0.3  --download-port 7001 --home-dir ~/suplog1  -D
[code]

[2019-09-14 04:25] yunfeiyanggzq commented on #904
@Starnop

[2019-09-14 05:06] yunfeiyanggzq opened #905 "[bug]dfget will panic if we config a unexpected supernode"
### Ⅰ. Issue Description

### Ⅱ. Describe what happened
supernode
`yunfeiyang@buaa:~/go/src/github.com/dragonflyoss/Dragonfly/cmd/supernode$ sudo go run main.go --advertise-ip 127.0.0.3  --download-port 7001 --home-dir ~/suplog1  -D
`
dfget:
[code]

if we add a unexist supernode,it will panic
### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as pos

[2019-09-14 05:06] yunfeiyanggzq commented on #905
@yeya24   @Starnop

[2019-09-14 15:04] yeya24 commented on #905
From the logs, it seems that it panic in connecting supernode 127.0.0.3:8002.

[2019-09-14 15:39] #904 closed

[2019-09-14 15:43] #905 closed

[2019-09-15 02:41] yunfeiyanggzq opened #908 "[feature]the supernode cli is ugly"
### Ⅰ. Issue Description

[code]

some beginings of command descriptiones are uppercase while some not

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- dragonfly version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2019-09-15 02:43] yunfeiyanggzq commented on #908
I will fix it

[2019-09-15 03:32] Starnop commented on #908
However, I think it's not be suitable as a bug type. WDYT?

[2019-09-15 12:28] yunfeiyanggzq commented on #908
I  agree with you

[2019-09-16 08:58] KeepCaim opened #910 "supernode is down，but dfclient Still work，I don‘t know if supernode is working。"
## Question

1、stop supernode， then docker pull via dfclient .There is still traffic on the port 65001,Now I don‘t know if supernode is working.
2、No dfclient.log files
[root@k5288v docker.service.d]# docker exec dfclient grep 'downloading piece' /root/.small-dragonfly/logs/dfclient.log | grep -v cdnnode
grep: /root/.small-dragonfly/logs/dfclient.log: No such file or directory
3、my config
using co

[2019-09-17 02:22] #910 closed

[2019-09-17 02:22] KeepCaim commented on #910
it's ok now

[2019-09-17 06:44] #887 closed

[2019-09-17 06:46] Starnop commented on #875
@hwdef Would you like to submit a PR update the document? 😄

[2019-09-17 07:13] hwdef commented on #875
@Starnop
Thanks for you invitation.
I will fix it.

[2019-09-17 14:43] fengzixu opened #921 "[Bug] The behavior of starting Dragonfly project is different with the document"
### Ⅰ. Issue Description

The actual download image behavior is inconsistent with the document description

### Ⅱ. Describe what happened

I try to use Dragonfly according to document [QuickStart](https://github.com/dragonflyoss/Dragonfly/blob/master/docs/quick_start/README.md )

When I performed the Step 5, I didn't see any output. But I found the file(/root/.small-dragonfly/logs/dfclient.log) ap

[2019-09-17 14:54] yeya24 commented on #921
Yes, since https://github.com/dragonflyoss/Dragonfly/pull/783, the log file will be rotated regularly. So we cannot find the output in dfclient.log. I think we should add some docs about this behavior. @inoc603

[2019-09-17 14:58] fengzixu commented on #921
@yeya24 I think we need to find an approach to show "The file has been downloaded successfully by Dragonfly", not only to describe the behavior of log roration in doc. WDYT?

[2019-09-17 15:11] #879 closed

[2019-09-17 15:42] yeya24 commented on #921
I agree with you. Do you have any suggestions? I think a way to do this is via dfdaemon. It can expose some information like api to let uses know if one image is successfully downloaded.  However, this is architecture-related because currently dfdaemon itself is just a proxy.

[2019-09-18 01:45] fengzixu commented on #921
I think we need to define and output necessary info about downloading images through Dragonfly.

1. Begin to download
2. Downloading
3. Download successfully or failed

We can output related info in the log. That's a simple way.
But I think if we need to supply an interface or command to check the record of downloading.

For example, we can process `dfclient list records`.

[code]

@yeya24 @Starno

[2019-09-18 02:04] Starnop commented on #921
also cc/ @lowzj

@fengzixu Thanks for your good idea.
However, dfdaemon is just a proxy to hijack the http request form container engines such as docker, containerd, etc. So it's hard for dfdaemon  to get the complete info of the image.

[2019-09-18 02:41] fengzixu commented on #921
So adding some output to illustrate status of downloading images in logs is an available solution. Is it right? @Starnop

[2019-09-18 02:49] yeya24 commented on #921
You mean output this information to the stdout of dfdaemon? I don't think it is readable. When there are multiple dfget requests.

[2019-09-18 02:57] Starnop commented on #921
In fact, there isn't a good idea to solve this problem for me at present.  And I will try to find a  better solution. And please share your solution here if you have any ideas. @fengzixu @yeya24 @inoc603 @lowzj

[2019-09-18 03:00] fengzixu commented on #921
I'm not sure. I think we need to find a way to illustrate the status of downloading images. For end-users, we can let them check images downloaded by Dragonfly through `docker images`. It means that we need to revise the document of QuickStart. But I don't think that is a good approach. Because of checking image status needs to cross two tools. That is inconvenient.

For developers of Dragonfly, i

[2019-09-18 03:38] yeya24 commented on #921
As we have mentioned about combining dfdaemon and dfget to one single binary, I think it is OK to add some apis in dfdaemon later.

[2019-09-18 05:48] zcc35357949 opened #928 "[Bug] get X509 error when pulling image with https registry_mirror."
### Ⅰ. Issue Description
Dfdaemon's config item `registry_mirror` doesn't seem to work when I pull images through dragonfly from https registry.

### Ⅱ. Describe what happened
here is dfdaemon's config:
[code]
Then I pull image:
[code]
The image was pulled failed.
I find X509 in supernode's log:
[code]
Dfget command does not contain `--cacerts` or `--insecure` flags:
[code]

### Ⅲ. Describe what y

[2019-09-18 06:19] Starnop commented on #928
also cc/ @inoc603 @lowzj

[2019-09-18 08:15] Starnop commented on #921
@fengzixu  #926 has solved this issue actually.

I totally agree with you. However, as mentioned above, it's almost impossible to get the image download status for Dragonfly itself. And IMOP, we can make it clear using third tools like `opentracing`.

In addition, dfget will report the metrics to supernode when it success to download a file. So we can get something from supernode:

+ check the log

[2019-09-18 08:17] fengzixu commented on #921
@Starnop Just need to revise our doc of QuickStart. :)

[2019-09-18 08:28] SataQiu commented on #845
/assign

[2019-09-18 14:36] yeya24 commented on #921
This reminds me about the docs of monitoring dfget. I haven't add it yet. In order to see the logs , supernode must start in debug mode(-D)

[2019-09-18 18:27] yeya24 opened #933 "dfget config and properties are duplicate"
Currently in the code of dfget, we use two structs, one is Properties https://github.com/dragonflyoss/Dragonfly/blob/0ba7a247f768439cba53072d6db05f7e3cf96c9a/dfget/config/config.go#L59 and another is Config https://github.com/dragonflyoss/Dragonfly/blob/0ba7a247f768439cba53072d6db05f7e3cf96c9a/dfget/config/config.go#L142.

These two structs are kind of duplicate, we should only keep one of them.

[2019-09-19 00:37] #901 closed

[2019-09-19 00:37] #835 closed

[2019-09-19 04:18] SataQiu commented on #845
Resolved.
/close

[2019-09-19 04:23] SataQiu commented on #845
I can't close this. :( @yeya24

[2019-09-19 04:56] #845 closed

[2019-09-19 07:30] yunfeiyanggzq opened #938 "feature:typo daemon -> deamon"
## Why you need it?

almost all deamon is  spelt as daemon

## How it could be?

## Other related information

[2019-09-19 07:33] SataQiu commented on #938
Emm... Thanks @yunfeiyanggzq
But I don't think it's a a spelling mistake.
[code]

[2019-09-19 07:42] #938 closed

[2019-09-19 08:24] KeepCaim opened #939 "30 clients pull images，all data traffic was downloaded from supernode.Should dfget download the pieces of file from other peers?"
## Question
1.    30 nodes parallel pull images, the image is 88M, It looks like all the data traffic goes through supernode. Should dfget download the pieces of file from other peers?
Below is the iftop for supernode:
TX:             cum:   2.40GB   peak:    159Mb  rates:   9.64Kb  9.63Mb  92.3Mb
RX:                     458MB           1.01Mb           7.86Kb  71.9Kb   600Kb
TOTAL:

[2019-09-19 08:36] Starnop commented on #939
Could you please check that whether you get the same taskID when you pull the same image again?

[2019-09-19 08:39] KeepCaim commented on #939
Yes, I found the same data taskid is different  when i pull the same image again.
Like this,

585M	./download/2f2
12K	./download/999
16K	./download/491
12K	./download/1d9
20K	./download/4b5
12K	./download/c7c
17M	./download/e6a
12K	./download/dd9
585M	./download/139

[2019-09-19 09:06] KeepCaim commented on #939
@Starnop hi,  I think that's the question, but where can i config it, in dfdaemon.yml ? and how should I configure it.

[2019-09-19 09:13] KeepCaim commented on #939
Unfortunately, I didn't find any help documents

[2019-09-19 09:17] Starnop commented on #939
Sorry for delay to merge related PR. And you can config it in dfdaemon.yml. FYI https://github.com/dragonflyoss/Dragonfly/blob/master/dfdaemon/config/config.go#L44

[2019-09-19 09:44] KeepCaim commented on #939
Unique identification of  images'blob is sha256 value that in url's path not param.
 Like this :
GET /harbor-registry-private-bjyt/docker/registry/v2/blobs/sha256/21/21d413ed22b8dbc698807e746aa7f5fa8e4332da6d7bd2f8abffa793aa7c0290/data?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=haha-wYpr8s8iPH6tw1P3t7VR%2F20190919%2Frq-bjyt-s3%2Fs3%2Faws4_request&X-Amz-Date=20190919T093113Z&X-Amz-Expires=12

[2019-09-19 10:10] Starnop commented on #939
For your example, I think the value of `X-Amz-Date` is different for each http request.
So what you should do is to add the `X-Amz-Date` as the value of the `filter` param.

[code]

[2019-09-19 10:43] KeepCaim commented on #939
no, this doesn't work, I have verified. I think the query param for the same blob should be the same,this will generate the same taskid, but  there is no such parameter.

[2019-09-19 11:13] KeepCaim commented on #939
Now, I get it. thanks

[2019-09-19 11:13] #939 closed

[2019-09-19 11:16] Starnop commented on #933
I think we can embed the struct `Properties `  into `config`. WDYT? @yeya24 @tanjunchen

[2019-09-19 13:03] inoc603 commented on #921
@fengzixu will the `analyze` sub command I proposed in #806 meet your needs?

[2019-09-19 14:04] yeya24 commented on #933
It is OK for embedding it. But it is still duplicate, right? Why not just remove one now.

[2019-09-19 14:15] inoc603 commented on #933
`Properties` seems to be designed for a config file. No matter how we decided to handle this, we should be careful and clear about what can be configured from a file, and from cli parameters. Dfdaemon experienced a similar situation for config a while back.

[2019-09-19 14:22] yeya24 commented on #933
This seems quite reasonable. If we use one struct like config to represent the whole config both from cli params and config files, we can still use like 'yaml:'-'' to avoid some fields exposing. But this will increase confusion, not as clear as before

[2019-09-19 14:23] inoc603 commented on #921
If I remember correctly, dfdaemon only pass layer data to docker daemon when the whole layer is downloaded. When using `docker pull`, progress bar for each layer either stops at zero, or reach 100% in an instant. If we implement some kind of streaming mechanism, it will be more clear that the image is being downloaded.

[2019-09-20 02:25] SataQiu commented on #840
/cc

[2019-09-20 02:34] yeya24 commented on #840
@SataQiu Do you want to open the discuss here?

[2019-09-20 02:44] SataQiu commented on #840
Yeah! I want to know which gc metrics should be collected.
WDYT? @yeya24 @Starnop

Previous discussion #931

[2019-09-20 02:49] yeya24 commented on #840
Currently I think the two counts you add is OK. I will add some metrics later if it possible.

There is also a bug about the stale metric of success tasks. If you have time and interest, you can also open a PR for it.

[2019-09-20 02:54] SataQiu commented on #840
Thanks @yeya24
Let's just remove `tasks_gc_duration_milliseconds` and `peers_gc_duration_milliseconds` for now.
In the future, we will add more meaningful gc metrics.
I will update #931 soon!

[2019-09-20 03:00] SataQiu commented on #840
As far as I know, `tasks_gc_total` is always equal to `peers_gc_total`.
Ref: https://github.com/dragonflyoss/Dragonfly/blob/master/supernode/daemon/mgr/gc/gc_manager.go#L66
So I want to keep only one, let's call it `gc_total`.
WDYT? @yeya24

[2019-09-20 03:05] yeya24 commented on #840
No, they are not the same. Let' s move to #931

[2019-09-20 07:25] pouchrobot opened #944 "WeeklyReport of Dragonfly from 2019-09-13 to 2019-09-20"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-09-20 08:24] zcc35357949 opened #945 "multi-mirrors can be supported by binding different hosts for 127.0.0.1"
## Why you need it?
Although using proxy can make no sense to image users, this approach need to restart dockerd for enabling `HTTP_PROXY` and `HTTPS_PROXY`. The costs of restarting dockerd in all machines is too high. Using dragonfly as mirror may be more suitable, I can pull images through dragonfly by the format like `docker pull 127.0.0.1: 65001 / ref` without restarting dockerd.

As noted in

[2019-09-22 07:42] #751 closed

[2019-09-22 07:48] YCait opened #950 "How can I change the download port of supernode?"
## Question

I'm running supernode built by docker image dragonflyoss/supernode:0.4.3, can i change 8001 port with other port?

[2019-09-23 03:49] hwdef opened #952 "some function does not have error handling."
### What happened:
some function does not have error handling.
### What should we do:
1.add error handling for these functions in right way.
2.Don't use Fixes: # which will shut down the issue, just use Ref:#

functions list:

- [ ] client/peer_create.go:35:19:	ensureCloseReader(resp)
- [ ] client/peer_info.go:35:19:	ensureCloseReader(resp)
- [ ] client/peer_list.go:35:19:	ensureCloseReader(resp)

[2019-09-23 03:54] hwdef commented on #952
/help wanted

[2019-09-23 03:56] hwdef commented on #952
/help

[2019-09-23 11:25] Starnop commented on #950
FYI https://github.com/dragonflyoss/Dragonfly/blob/master/FAQ.md#can-i-use-self-specified-ports-for-dragonfly

[2019-09-23 11:29] #886 closed

[2019-09-23 12:05] Starnop commented on #952
So amazing about that. 👍

[2019-09-23 12:10] Starnop commented on #952
And there is a small suggestion, could you please group them by package name? And then we should fix one group with one PR.

And it's welcomed for everybody to contribute. And if you will fix one group, just assign yourself here and let others know that you're doing this.

[2019-09-23 12:11] #944 closed

[2019-09-24 01:30] hwdef commented on #952
I will pick up supernode/server/

[2019-09-24 02:07] #867 closed

[2019-09-24 02:15] Starnop opened #958 "[Help wanted] add metrics for gc disk"
## Why you need it?

Currently, we have gc metrics for `gc task` and `gc peer`  in the PR #931. And since #878 has been merged, I think we should also supplement the metrics for `gc disk`.

## How it could be?

## Other related information

[2019-09-24 02:22] Starnop commented on #840
In fact, this issue has two parts:
+ add gc metrics
+ gc related metrics when we exec the gc operations

Thanks for the good job #931 from @SataQiu. And would you like to continue with part 2?

[2019-09-24 03:01] yeya24 commented on #958
/assign

[2019-09-24 03:05] Starnop opened #959 "[Help Wanted] Use viper as the configuration solution and support hot reload for config files"
## Why you need it?

Now, we use different ways to handle the config files for `dfdaemon`, `dfget` and `supernode`.

Let's take supernode as an example. In order to achieve that  command lines have a higher priority than the configuration file. We should do the three things as follows:
1. load config from config file
2. get cli config which specified by user explicitly
3. integrate the above two c

[2019-09-24 03:07] Starnop commented on #959
cc/ @lowzj  @inoc603 @yeya24

Please take a review. THX. 😄

[2019-09-24 03:29] yeya24 commented on #950
@YCait Does it solve your problem? I will close this issue now and feel free to reopen it if you have any other related questions.

[2019-09-24 03:29] #950 closed

[2019-09-24 03:31] #900 closed

[2019-09-24 03:39] #928 closed

[2019-09-24 03:44] Starnop commented on #921
I totally agree with you. In addition, we will not need to  write the file to disk and read it again to  dfdaemon, which will reduce the IO pressure of peer node.

[2019-09-24 06:38] inoc603 commented on #959
Agreed. `dfdaemon` is already using viper, and it should be rather easy to support config hot reloading.

[2019-09-24 06:49] inoc603 commented on #945
I can see how this can be useful, but there are still few things we should consider:
- using a `dragonfly` prefix requires changing the users' behavior, `docker pull aa.registsry.co/img` must be changed to `docker pull dragonfly.aa.registry.co/img`. And even we're pulling the same image, it can only be used as `dragonfly.aa.registry.co/img`.
- if we don't use a prefix, the change will be system-wi

[2019-09-25 06:59] hwdef commented on #952
I will pick up supernode/httpclient

[2019-09-25 14:17] yeya24 commented on #840
@Starnop  For part2 I have dug into it once. But it relates some race condition about the task lock. When gc, the gc goroutine will get the lock and it only release the lock after gc. If we want to clean the tasks which status is `success`, we need to get the task lock first and then check its status. So here is deadlock.

[2019-09-26 04:15] hwdef commented on #952
I will pick up dfdaemon

[2019-09-26 06:36] lowzj commented on #959
agree

[2019-09-26 06:52] tanjunchen commented on #952
I will pick up test/command/cmd

[2019-09-26 07:30] YCait opened #970 "When downloading files, dfclient.log shows "pull piece task result" all the time"
## Question

When I download files by dfget, the downloading seems to block. After a long time ,a piece of file may be downloaded, sometimes  it fails, log shows "pull piece task error".  supernode docker image is using the  0.4.3 version and the dfclient is 0.3.1.

There is a part of log in dfclient.log

2019-09-26 06:52:06.593 INFO sign:2616-1569480724.816 : downloading piece:{"taskID":"e0c791c7

[2019-09-26 12:17] KeepCaim commented on #219
Orgnization/Company: 360
Location: Beijing, China
Contact: zhangzhifei@360.cn
Purpose/Scenario:distribute image  to the kubernetes cluster

[2019-09-26 14:58] yeya24 commented on #970
@YCait Can you update dfclient to 0.4.3 and test again?

[2019-09-26 15:00] YCait commented on #970
ok.I'll try it.thanks

[2019-09-27 02:13] #958 closed

[2019-09-27 10:25] SataQiu commented on #959
/cc

[2019-09-28 05:52] zcc35357949 commented on #945
Indeed, binding host with prefix is not flexible enough. But another way to think about it, it can make user have the choice to decide whether pulling images through dragonfly. The demands seem to be different in such situation.
About your second point, I confused how to handle all requests to a custom dns resolver.

[2019-09-28 07:54] YCait commented on #970
I'm using 0.4.3 version of dfclient now, but it doesn't work. There are related logs in dfclient.log and app.log of supernode.

2019-09-28 07:38:24.496 INFO sign:1390-1569656028.426 : downloading piece:{"taskID":"05ff4967e0d528935ffdd90239188ac641e1b4ba6c88cef1b62a4d7ed4c1a314","superNode":"125.220.157.228:82","dstCid":"cdnnode:172.20.0.2~05ff4967e0d528935ffdd90239188ac641e1b4ba6c88cef1b62a4d7ed4c

[2019-09-29 07:38] hwdef commented on #952
I will pick up supernode/config

[2019-09-30 02:03] liudechi7 opened #976 "running piece concurrent update wrong"
### Ⅰ. Issue Description
There is a concurrency problem in this area. If a routine deletes the key, the next one goes to read and causes the key to not exist.

`return dstPIDMap.Remove(pieceNumString)`

// 这个地方存在并发问题，如果一个routine删除了key，下一个在去读取导致key不存在 ，返回错误后，导致客户端异常

### Ⅱ. Describe what happened
### Ⅲ. Describe what you expected to happen
### Ⅳ. How to reproduce it (as minimally and precisely as p

[2019-09-30 02:15] liudechi7 opened #977 "repeatedly registry state lost"
### Ⅰ. Issue Description
`	// init cdn node if the clientID represents a supernode.
	if pm.cfg.IsSuperCID(clientID) {
		return pm.superProgress.add(taskID, newSuperState())
	}

	// init peer node if the clientID represents a ordinary peer node.
	if err := pm.clientProgress.add(clientID, newClientState()); err != nil {
		return err
	}
	defer func() {
		if err != nil {
			if err := pm.clientProgress

[2019-09-30 03:43] #908 closed

[2019-09-30 04:12] Starnop commented on #977
In fact, `CID` is co-determined by ip, pid(process id) and timestamp which is difficult to duplicate. Could you please describe your scene in details？

[2019-09-30 04:23] Starnop commented on #976
Obviously, you have a deep understanding of the source code. 👍

However, let's have a look at the source code carefully:

[code]

And you will find that the concurrent threads will not get errors even if failed to load `pieceNumString` and return nil instead.

WDYT?

[2019-09-30 04:23] Starnop commented on #959
@SataQiu Would you like to fix this issue? 😄

[2019-09-30 04:27] SataQiu commented on #959
Yes, I‘d like to pick it up.  @Starnop
But these two days are a bit busy, I will try to fix this issue in the next two days.

[2019-09-30 06:18] liudechi7 commented on #976
`// Remove deletes the key-value pair from the mmap.
// The ErrEmptyValue error will be returned if the key is empty.
// And the ErrDataNotFound error will be returned if the key cannot be found.
func (mmap *SyncMap) Remove(key string) error {
	if stringutils.IsEmptyStr(key) {
		return errors.Wrap(errortypes.ErrEmptyValue, "key")
	}

	if _, ok := mmap.Load(key); !ok {
		return errors.Wrapf(errorty

[2019-09-30 06:27] liudechi7 commented on #977
dfget python client，if download go wrong，it will migrate and restart registry（with the same cid)

the original supernode(java version) have no this problem，because it use putIfAbsent

[2019-09-30 09:04] shuangquan2019 opened #978 "sometimes don't get the latest file"
## Question
I am planning to use Dragonfly to sync files. These files will be updated at regular intervals. But the phenomenon I observed was that sometimes I did not get the latest files .

I have checked these:
The software version is relatively new.
Dfget forces get a new version with the -i parameter
The commands are executed and the parameters are ok.

I got a conclusion by observing the log:

[2019-09-30 09:17] Starnop commented on #978
Thanks for your feedback. And it will be better to put your logs here which locate at `/home/admin/supernode/logs` by default. 😄

[2019-09-30 09:55] shuangquan2019 commented on #978
here is it:
------
2019-09-30 17:35:36.469 INFO sign:236467 : success to register peer &{IP:10.6.118.32 HostName:in01-baymax-k8s-prod001-node-10-6-118-32 Port:47787 Version:0.4.2}
2019-09-30 17:35:36.470 INFO sign:236467 : get file length 43 from http client for taskID(429fa6e1ae92f951111d50249d42cd90799b9878c1a9ebdf7b826b160c3c9965)
2019-09-30 17:35:36.471 INFO sign:236467 : success to init cdn n

[2019-10-02 16:06] yeya24 opened #982 "replace md5 with sha?"
## Why you need it?

Md5 is a hash function that has low resistance to collision. We should consider using more secure hash functions like sha256 etc.

## How it could be?

## Other related information

[2019-10-04 07:25] pouchrobot opened #985 "WeeklyReport of Dragonfly from 2019-09-27 to 2019-10-04"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-10-04 20:35] yeya24 opened #986 "[feature request]: Change some default parameters of disk gc"
## Feature Request

1. Currently,  the default disk gc interval is only 15 seconds,  I think we don' t need to check disk space too often. Maybe we should consider increasing it to 30s or 1m?
2. Currently, the disk gc has two thresholds, one is young gc threshold 100G, another is full gc threshold, 5G. They are both hardcoded and Supernode doesn' t have flags to change it. Also, I guess we need a

[2019-10-06 05:52] weekly-digest[bot] opened #987 "Weekly Digest (29 September, 2019 - 6 October, 2019)"
Here's the **Weekly Digest** for [*dragonflyoss/Dragonfly*](https://github.com/dragonflyoss/Dragonfly):

 - - -
# ISSUES
Last week 13 issues were created.
Of these, 2 issues have been closed and 11 issues are still open.
## OPEN ISSUES
:green_heart: #986 [[feature request]: Change some default parameters of disk gc](https://github.com/dragonflyoss/Dragonfly/issues/986), by [yeya24](https://github.

[2019-10-09 21:57] yeya24 opened #989 "update golang 1.12.6 to 1.12.10"
### Ⅰ. Issue Description
There is a CVE for Go and this vulnerability is fixed in 1.12.10. We should update it.
See: https://nvd.nist.gov/vuln/detail/CVE-2019-16276
### Some work need to do for updating go
- update ci

[2019-10-10 06:16] #987 closed

[2019-10-10 06:16] #985 closed

[2019-10-11 01:52] yeya24 opened #991 "support katacoda scenario for Dragonfly"
## Why you need it?

Katacode is really a good playground for tutorial. And I find some famous CNCF projects all have their scenario. See https://www.katacoda.com/courses/cloud-native-computing-foundation.

## How it could be?

Add a scenario for Dragonfly

## Other related information

[2019-10-11 07:24] pouchrobot opened #992 "WeeklyReport of Dragonfly from 2019-10-04 to 2019-10-11"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-10-11 14:04] lowzj commented on #982
I think that the md5 is working for correctness checking more than security. And the md5 computing is faster than sha256. So IMOP, it's unneccessary to replace it.

[2019-10-11 14:10] lowzj commented on #978
The `Last-Modified` or `Etag` is rechecked by sending HEAD request when the meta info of the task loaded into memory of supernode from local disk. And the meta info of a task is deleted from memory of supernode when it's not accessed within 3 minutes.

[2019-10-11 14:24] yeya24 commented on #982
valid point.

[2019-10-12 01:28] huerlei opened #993 "If the file source is updated more frequently (e.g. once an hour), dfget will have files that cannot be updated in time."
## Question

我在用dfget 下载文件的时候，发现如果文件源更新频率比较高，（例如1小时更新一次），dfget 下载该文件的时间大约为45分钟，会存在一段时间一直同步老的文件的情况，请问这个正常吗，怎么可以解决

[2019-10-12 01:57] lowzj commented on #993
同一个url指向的文件资源是变化的话，可以通过指定`dfget`的`-i`参数来区分开

[2019-10-12 02:30] ftlynx opened #995 "镜像仓库回源问题 | Return of Mirror Warehouse"
## Question
使用dragonfly做镜像分发。supernode有CDN的作用，那么回源我认为是supernode去做，通过查看连接但是我发现除了supernode，dfdaemon进程也会去连接仓库地址，我看文档上面说dfdaemon会拦截docker的请求，请问这个是什么情况下会这样呢?
root@host-192-168-55-107 dfclient]# netstat -antp | grep 52.206.19.194:443
tcp        0      0 192.168.55.107:47260    52.206.19.194:443       ESTABLISHED 22508/supernode
tcp        0      0 192.168.55.107:47204    52.206.19.194:443       ESTABLIS

[2019-10-12 02:56] YCait opened #996 "Can I pause in downloading and continue downloading it after a pause?"
## Question

Can I pause in downloading and continue downloading it after a pause?

[2019-10-12 03:44] lowzj commented on #995
拉取镜像的整个过程分为：
1. 认证
2. 获取image manifests
3. 下载 image layer

其中1/2不涉及文件下载，是由`dfdaemon`请求仓库；第3步，镜像层下载由`dfdaemon`调用`dfget`进行p2p下载，这时候supernode若本地无缓存则回源到仓库。

[2019-10-12 04:39] ftlynx commented on #995
了解了。谢谢。

[2019-10-12 04:39] #995 closed

[2019-10-12 06:21] ftlynx opened #997 "Dfdaemon calls dfget and zombie mileage occurs"
## Question
docker pull 后，dfget出现了僵尸进程。采用dragonflyoss/dfclient:0.4.3 镜像部署
[root@host-192-168-55-118 logs]# ps -ef | grep dfget
root      8717 18498  0 13:58 ?        00:00:00 [dfget] <defunct>
root      8725 18498  0 13:58 ?        00:00:00 [dfget] <defunct>
root      8727 18498  0 13:58 ?        00:00:00 [dfget] <defunct>
root      8738 18498  0 13:58 ?        00:00:00 [dfget] <defunct>
root

[2019-10-12 10:24] jessiezhou0424 commented on #108
when will dragonfly+harbor demo release, can't wait to use it!

[2019-10-12 11:43] NikiChr opened #998 "Is there an option to disabling back source downloading for images?"
## Can I disable back source downloading for images / docker pull?

I would like to disable back source downloading when I use docker pull.
Is there an option like with dfget where I can add the _--notbs_ option?
Is there a line I can add to the _dfget.yml_ to disable back source downloading?

I have a network of ~400 nodes with 10 supernodes and only a couple of dedicated seeders are supposed to

[2019-10-12 13:49] yunfeiyanggzq commented on #996
I think the Dragonfly may can't  do that now.at least I haven't find any way to pause the downloading preogress elegantly

[2019-10-13 05:52] weekly-digest[bot] opened #999 "Weekly Digest (6 October, 2019 - 13 October, 2019)"
Here's the **Weekly Digest** for [*dragonflyoss/Dragonfly*](https://github.com/dragonflyoss/Dragonfly):

 - - -
# ISSUES
Last week 11 issues were created.
Of these, 2 issues have been closed and 9 issues are still open.
## OPEN ISSUES
:green_heart: #998 [Is there an option to disabling back source downloading for images?](https://github.com/dragonflyoss/Dragonfly/issues/998), by [NikiChr](https://

[2019-10-14 08:02] shuangquan2019 commented on #978
I use the identifier field to identify whether the file is updated and re-download the data.
I looked at the code, the identifier was used when it was matched, and it was saved to the meta file.
So why are you still downloading old files?
The scene I use is like this.
Nginx-supernode-multiple nodes
Suppose multiple nodes concurrently fetching a file under nginx will cause problems?

[2019-10-14 12:11] YCait commented on #996
ok... do u know how to end the downloading process？

[2019-10-14 13:18] yunfeiyanggzq opened #1001 "[help request][docs] add config doc for dfget and dfdaemon"
## Why you need it?

the dragonfly hasn't doc about how to configure the supernode ,dfget,dfdaemon by config file.some are in FAQ.md but it  is old and incomplete.I have open a pr about how to configure supernode,I will try to perfect this issue. if I am too busy to finish it ,can you help to finish the  leftover work
reference #988

## How it could be?

## Other related information

[2019-10-14 13:25] yunfeiyanggzq commented on #996
I know a download task manager can't be paused in supernode. @Starnop  am I right?
you can open a feature request issue, maybe the society will add this feature

[2019-10-14 13:33] yunfeiyanggzq opened #1002 "[feature request]load the scheduleMgr by compile a file of plug-ins"
## Why you need it?

## How it could be?

every company or organization has different requirement.so only one schedule way can't meet the needing.I make the scheduleMgr loading schedule ways from config file
the cdn has a store plugin to meeting different needing, and I think the schedule is the same.
we should implement it by following ways

1.  make schedule be plug-oriented
2.  Dynamic load plu

[2019-10-14 13:40] #992 closed

[2019-10-14 13:42] allencloud commented on #989
[code]
That is great. We can update the golang runtime version to 1.12.10. Could you help to submit a PR? @yeya24

[2019-10-15 04:57] #999 closed

[2019-10-15 06:55] hwdef commented on #952
I will pick up version

[2019-10-15 08:16] hwdef commented on #952
@tanjunchen
Could you please pick up
[code]

[2019-10-15 08:17] tanjunchen commented on #952
@hwdef  OK

[2019-10-16 05:01] yeya24 commented on #933
Since #936 , close this issue

[2019-10-16 05:01] #933 closed

[2019-10-16 06:50] allencloud commented on #989
fixed by https://github.com/dragonflyoss/Dragonfly/pull/1005

[2019-10-16 07:54] KeepCaim opened #1006 "df"
## Question

[2019-10-16 07:55] #1006 closed

[2019-10-16 08:03] KeepCaim opened #1007 "docker pull images via dfget: read piece cont error"
dragonfly version:
supernode version  0.4.3
  Git commit:     2f3ca58
  Build date:     20190930-10:43:20
  Go version:     go1.12.4
  OS/Arch:        linux/amd64
dfget version  0.4.3
  Git commit:     24aa469
  Build date:     20190805-07:39:42
  Go version:     go1.12.6
  OS/Arch:        linux/amd64

We use dragon in the production environment,pull an image failede ,other normal.

log:
2019-10-1

[2019-10-16 08:55] KeepCaim commented on #1007
supernode logs:
2019-10-16 16:37:04.240 INFO sign:8292-1571213828.300 : pull piece task({"taskID":"ca274710eb33ca962e49dfa30555e604c77e5c7940e8aff5eb5f44a8180b2d7c","superNode":"10.216.31.130:8002","dstCid":"cdnnode:10.208.65.52~ca274710eb33ca962e49dfa30555e604c77e5c7940e8aff5eb5f44a8180b2d7c","range":"0-4194303","result":500,"status":701,"pieceSize":0,"pieceNum":0}) result:{"code":602,"msg":"{\"C

[2019-10-16 08:57] KeepCaim commented on #1007
emmm, The timeout parameter setting is a bit too large  :
2019-10-16 16:37:04.240 INFO sign:8292-1571213828.300 : pull piece task({"taskID":"ca274710eb33ca962e49dfa30555e604c77e5c7940e8aff5eb5f44a8180b2d7c","superNode":"10.216.31.130:8002","dstCid":"cdnnode:10.208.65.52~ca274710eb33ca962e49dfa30555e604c77e5c7940e8aff5eb5f44a8180b2d7c","range":"0-4194303","result":500,"status":701,"pieceSize":0,"pi

[2019-10-16 14:03] yeya24 commented on #989
I believe that we also need to update pouch linter as well. @allencloud   see https://github.com/pouchcontainer/pouchlinter/pull/20

[2019-10-17 02:35] allencloud commented on #989
[code]
I have release a new version 0.2.4 of pouchlinter, see https://github.com/pouchcontainer/pouchlinter/blob/v0.2.4/Dockerfile#L23.
And I also have pushed image pouchcontainer/pouchlinter:v0.2.4 to dockerhub.

Please check. If it is OK, I think we could close this, right>
If not, please feel free to contact me. Thanks. @yeya24

[2019-10-17 05:43] #989 closed

[2019-10-17 06:39] jessiezhou0424 opened #1010 "Error response from daemon: Get https://mydocker-registry/v2/: Not Found"
## Question

------------------------------------------------question-----------------------------------------
i use docker pull after deploy dragonfly but get this error:
Error response from daemon: Get https://mydocker-registry/v2/: Not Found

------------------------------------------------enviroment------------------------------------
### what i changed on Node server:
add HTTPS proxy = http:/

[2019-10-17 07:11] Starnop commented on #1010
Firstly, could you please provide the version of Dragonfly that you used?

Preliminary judgment, there is something wrong with your https registry. Maybe you should read this [doc](https://github.com/dragonflyoss/Dragonfly/blob/master/docs/user_guide/docker_proxy.md) seriously.

FYI
![image](https://user-images.githubusercontent.com/31209634/66985811-2da33a00-f0f0-11e9-8bf0-1476336dedee.png)

![im

[2019-10-17 07:24] jessiezhou0424 commented on #1010
thank you for reply. the df-daemon version of dragonfly is 0.0.1.

The registry is https enabled and what the doc suggested is done in configmap which is volume mounted in df-deamon ds.
....
       - mountPath: /etc/dragonfly.conf
         name: config
         readOnly: true
         subPath: dragonfly.conf
....
 dfdaemon.yml: |-
   proxies:
   - regx: blobs/sha256.*
   - regx: mydocker-registry/

[2019-10-18 02:46] sodwell opened #1011 "All client nodes always prompt for waitting, and then a few seconds later prompt for download failure."
## Question

Log of supernode1:

// supernode1的log：

![image](https://user-images.githubusercontent.com/10768679/67061840-1cac0480-f194-11e9-8548-a8a3721fe345.png)

![image](https://user-images.githubusercontent.com/10768679/67061868-377e7900-f194-11e9-93c5-44c82affea13.png)

![image](https://user-images.githubusercontent.com/10768679/67061902-4fee9380-f194-11e9-8828-f1f2aed312c9.png)
Yesterday wa

[2019-10-18 07:24] pouchrobot opened #1012 "WeeklyReport of Dragonfly from 2019-10-11 to 2019-10-18"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-10-18 09:12] zhujian7 opened #1013 "Pull image encounter 502 Bad Gateway"
### Ⅰ. Issue Description
I got the following error when I pull an image:
[code]

dfclient logs:
[code]

dfclient config:
[code]

dfdaemon config:
[code]
docker config:
[code]

df version: `0.4.3`

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

Pulling image succeeded.

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else w

[2019-10-18 09:32] Starnop commented on #1013
Preliminary judgment, supernode failed download from source according to the log of dfclient. And could you please provide the logs of supernode?

[code]

[2019-10-18 09:40] Starnop commented on #1010
Could you please exec the command `docker login` on an agent node and paste the output  and logs here? THX.

[2019-10-18 09:40] zhujian7 commented on #1013
Very pleasure, But emmm...  There is no any output of the supernode:
![image](https://user-images.githubusercontent.com/36154065/67083769-5568cf80-f1ce-11e9-877a-f5f236f0c9b4.png)

[2019-10-18 09:46] zhujian7 commented on #1013
More info about supernode:
[code]

[2019-10-18 10:10] Starnop commented on #1013
Maybe the logs of `supernode` will be more helpful. The location is `/home/admin/supernode/app/logs/`. THX.

[2019-10-18 10:21] zhujian7 commented on #1013
I found an error in the log:
[code]

[2019-10-18 10:42] zhujian7 commented on #1013
Change file `/etc/systemd/system/docker.service.d/http-proxy.conf` from:
[code]
to
[code]
saved me.

@Starnop  Thanks for your help.

[2019-10-18 10:43] zhujian7 commented on #1013
/close

[2019-10-18 16:00] Starnop commented on #1010
According to the logs, it represents that the supernode failed to download form the source because of `authentication required`.  And could you please paste the supernode logs? THX.

[2019-10-20 05:52] weekly-digest[bot] opened #1014 "Weekly Digest (13 October, 2019 - 20 October, 2019)"
Here's the **Weekly Digest** for [*dragonflyoss/Dragonfly*](https://github.com/dragonflyoss/Dragonfly):

 - - -
# ISSUES
Last week 14 issues were created.
Of these, 5 issues have been closed and 9 issues are still open.
## OPEN ISSUES
:green_heart: #1013 [Pull image encounter 502 Bad Gateway](https://github.com/dragonflyoss/Dragonfly/issues/1013), by [zhujian7](https://github.com/zhujian7)
:green_

[2019-10-20 15:57] NikiChr commented on #782
[Okay I found this which is sufficient for me](https://github.com/dragonflyoss/Dragonfly/blob/master/docs/api_reference/apis.md)

[2019-10-20 15:57] #782 closed

[2019-10-21 01:45] #1014 closed

[2019-10-21 02:50] jessiezhou0424 commented on #1010
Thank you for reply, the supernode log is here:
[code]

[2019-10-21 11:03] zhujian7 commented on #1013
supernode needs to trust the cert of my docker registry.

[2019-10-21 11:05] zhujian7 commented on #1013
/close

[2019-10-21 11:05] #1013 closed

[2019-10-21 11:17] zhujian7 opened #1015 "Pull image stuck on "peer should wait""
### Ⅰ. Issue Description

Pull image stuck on peer should wait for a long time, and finally failed.

dfclient logs:
[code]
dfdaemon logs:
[code]

dfserver logs
[code]

dfget config:
[code]

dfdaemon config:
[code]

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need t

[2019-10-21 11:47] Starnop commented on #1015
`2019-10-21 11:14:16.135 ERRO sign:119-1571656456.124 : read piece cont error:dial tcp 192.168.21.100:53839: connect: connection refused from dst:192.168.21.100:53839, wait 20 ms`

And could you please check the peer's network with ip `192.168.21.100`.

[2019-10-21 14:03] zhujian7 commented on #1015
[code]

[2019-10-22 08:28] Starnop commented on #1015
That because dfget starts a new server. FYI https://github.com/dragonflyoss/Dragonfly/blob/master/FAQ.md#why-does-dfget-still-keep-running-after-fileimage-distribution-finished

[2019-10-22 08:49] Starnop commented on #1010
Error response from daemon: login attempt to http://myregistry.com/v2/ failed with status: 503 Service Unavailable

Could you please provide the dfdaemon log?

[2019-10-22 10:36] #1001 closed

[2019-10-22 10:43] jessiezhou0424 commented on #1010
dfdaemon
[code]

dfserver
[code]

[2019-10-23 03:35] KeepCaim commented on #1007
We ran into this again, The impact is bad.
in dfclient.log
[code]

[2019-10-23 03:36] KeepCaim commented on #1007
@lowzj Please have a look

[2019-10-23 03:58] Starnop commented on #1007
Looks like you delete the file manually in the supernode. And the nginx file server can not find the file that needed.

And in fact,  we have make it fixed automatically in the PR #739.

So can I ask that the p2p download have failed in the end?

[2019-10-23 04:01] KeepCaim commented on #1007
supplementary log
[code]

app.log:
[code]

[2019-10-23 04:06] KeepCaim commented on #1007
1、I didn't delete the in the supernode.
2、Yes, it failed
3、when i restart supernode， pull it again，it's ok

[2019-10-23 04:14] Starnop commented on #1007
Could you please provide the complete supernode logs? THX.

[2019-10-23 04:19] KeepCaim commented on #1007
[app.log](https://github.com/dragonflyoss/Dragonfly/files/3760111/app.log)
it's today's log

[2019-10-23 04:21] Starnop commented on #1007
OK. Got it. THX. I will try to give a feedback ASAP.

[2019-10-23 05:16] KeepCaim commented on #1007
Thank you very much

[2019-10-23 07:30] Starnop commented on #1007
Looks like you give me mismatched supernode log.

The dfclient got errors at `10:28:32.645`. And the logs of supernode starts at `11:14:39.287`. And could you please provide matching logs? THX

[2019-10-23 09:09] Starnop commented on #959
@SataQiu I have updated this issue. And would you like to continue to fix it? 😄

[2019-10-23 09:35] jessiezhou0424 commented on #1010
thank you so much for help, after delete
    - regx: myregistry.com/
      use_https: true
in dfdaemon.yml, dragonfly works.

[2019-10-23 09:35] #1010 closed

[2019-10-23 10:35] KeepCaim commented on #1007
very sorry！the following two are matched

[app-c6.log](https://github.com/dragonflyoss/Dragonfly/files/3761822/app-c6.log)

[2019-10-23 10:42] KeepCaim commented on #1007
very sorry！the following two are matched
[app-c6.log](https://github.com/dragonflyoss/Dragonfly/files/3761865/app-c6.log)
[dfclient-c6.log](https://github.com/dragonflyoss/Dragonfly/files/3761867/dfclient-c6.log)

[2019-10-24 01:47] yaRammaG commented on #219
Orgnization/Company: Yum China
Location: ShangHai, China
Contact: Gray.Zhu@yumchina.com
Purpose/Scenario:distribute image to the kubernetes cluster

[2019-10-24 09:29] ww3122000 opened #1018 "200 dfget clients download file by Dragonfly optimize"
# How to optimize dfget clients download file by Dragonfly
## scene
1.  fileSize 15G
2. 200  dfget client host
3. one supernode
4. version 0.4.3

## question
1. How to optimize dfget clients download file by Dragonfly
2. max-bandwidth  doesn't seem to work
3. Most of the time client down file from supernode ,expected from peer

## run mode
supernode
`docker run -d --name supernode --restart=always

[2019-10-25 04:51] yeya24 commented on #526
I think this is already solved. Close now.

[2019-10-25 04:51] #526 closed

[2019-10-25 05:26] yeya24 opened #1022 "[Help wanted] Dragonfly decentralization"
# Background

This issue is used to define tasks and track the progress of Dragonfly decentralization feature. For a more specific architecture or design proposal, please check https://github.com/dragonflyoss/Dragonfly/pull/594.

# Task details

## dfdaemon and dfget related

- [ ] Extract dfget as a library

 Currently dfdaemon calls dfget by cmd.exec. We hope dfdaemon can call dfget through a li

[2019-10-25 07:24] pouchrobot opened #1023 "WeeklyReport of Dragonfly from 2019-10-18 to 2019-10-25"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-10-25 08:19] #1007 closed

[2019-10-25 08:26] ww3122000 opened #1025 "http detailed config"
## Why you need it?

1. http connect time out (supernode and dfget)
2. http read time out (supernode and dfget)
Because all requests are HTTP, the normal configuration of HTTP should have

## How it could be?

## Other related information

[2019-10-25 08:29] ww3122000 opened #1026 "parallel range back source"
## Why you need it?

I observed that supernode was a request back source and md5 was made. I could imagine that only one request back source could be made because of md5. If the user did not care whether md5 could be split back source or not, the download speed of supernode would be greatly improved.

## How it could be?

## Other related information

[2019-10-25 09:17] ww3122000 opened #1027 "More flexible pieces size settings"
## Why you need it?

Now  DefaultPieceSize is 4M and DefaultPieceSizeLimit is 15M, user can't set it,
There is no entry for the user to configure, maybe the user wants something else

## How it could be?

User can configure with the desired value

## Other related information

[2019-10-27 04:11] fengzixu commented on #1022
On the 26th, we discussed this big feature through the Zoom meeting. Anyone who is interested in it can read the doc as below:

https://docs.google.com/document/d/1cpNpaYEax1qqI6udFLG2wxyjv4YBSb8qa8CcAvGUnhY/edit#

Any suggestions and comments are welcome.

[2019-10-28 03:24] YCait opened #1033 "How can I get real ip of cdnnode in logs when I use docker"
## Question

When I use dfget to download files，the ip of cdnnode is always the ip of supernode docker container. How can I get the real cdnnode?

downloading piece:{"taskID":"9627226867cf6d8496944de44f554b8d0d2e743c991da21ad3e05336f01e5ba9","superNode":"125.220.157.228:82","dstCid":"cdnnode:172.20.0.2~9627226867cf6d8496944de44f554b8d0d2e743c991da21ad3e05336f01e5ba9","range":"0-4194303","result":5

[2019-10-28 03:37] Starnop commented on #1033
@YCait What's mean the real ip of cdnnode. In fact, the IP of supernode is actually the IP of cdnnode.

According to the logs above, the IP of supernode is `125.220.157.228` which is the supennode IP that the dfclient can successfully link to the supernode.

[2019-10-28 03:39] YCait commented on #1033
I want the logs to be "cdnnode:125.220.157.228……"

[2019-10-28 03:54] allencloud commented on #1027
Please see https://github.com/dragonflyoss/Dragonfly/blob/master/FAQ.md#what-is-the-size-of-blockpiece-when-distribution

[2019-10-28 03:55] allencloud commented on #1025
Yes, I think that is what we need. Could you put forwards pull requests to make it? @ww3122000 Thanks.

[2019-10-28 05:24] zhouhaibing089 opened #1034 "supernode failed to start on ipv6 interface"
### Ⅰ. Issue Description

[code]

### Ⅱ. Describe what happened
When I start supernode on my local machine, it reports error when seeing ipv6 address.

### Ⅲ. Describe what you expected to happen

supernode should be able to start normally.

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1. `go install github.com/dragonflyoss/Dragonfly/cmd/supernode`
2. run `supernode --home-

[2019-10-28 05:28] zhouhaibing089 commented on #1034
ref https://github.com/dragonflyoss/Dragonfly/issues/334

[2019-10-28 05:29] fengzixu commented on #1034
Let me check it. /assign me

[2019-10-28 05:31] fengzixu commented on #334
I will re-check it again. Sorry for the inconvenience. Because I am a little busy in previous months.

[2019-10-28 06:48] SataQiu commented on #1022
/cc

[2019-10-28 08:41] SataQiu commented on #959
Recently, I was trying to implement hot reload for `dfdaemon`.
But I'm confused about how to deal with `Config` object.
For now, we create the final `Config` object by integrating configurations from different sources(flag and file), then pass this `Config` object to the programs which need it.
It's easy to refresh `Config` object with viper, but how do we tell other components to re-read the conf

[2019-10-28 08:41] SataQiu commented on #959
/cc @allencloud

[2019-10-28 11:13] #1033 closed

[2019-10-28 11:17] Starnop commented on #1033
And then you can set the `advertise-ip` for supernode. And the logs will use the value of you specified instead of the first non-loop address.

[2019-10-29 03:00] hwdef commented on #952
I will pick up pkg

[2019-10-29 04:07] zhujian7 opened #1037 "failed to get file length from http client i/o timeout"
### Ⅰ. Issue Description

supernode failed to get file length from http client:
[code]
but we can ping registry domain manually by wget **in the supernode container**:
[code]

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- dragonf

[2019-10-29 04:50] yeya24 commented on #1037
@zhujian7  Did this error happen multiple times or just happen once?

[2019-10-29 06:05] zhujian7 commented on #1037
@yeya24 multiple times.

[2019-10-29 08:00] Starnop commented on #1037
We have fixed that in the master branch. Could you please try again with the master branch? THX

[2019-10-29 08:03] #1023 closed

[2019-10-29 09:15] Starnop opened #1038 "[Community] Prepare for the new version"
Now we are ready to publish a new version that is planned to be the GA version for Dragonfly. And the scheduled release time is 2019.11.15 Beijing time. In order to accomplish this goal, we still need to do something.

Issues:
- [x] More stability testing (@Starnop 11.14.2019)
- [ ] Support hot reload for config files #959 (@lowzj @SataQiu 11.10.2019)
- [x] Dfdaemon calls dfget and zombie mileage

[2019-10-30 01:42] Starnop commented on #702
Maybe this issue is about https://github.com/docker/cli/issues/1143.

[2019-10-30 02:17] supereagle commented on #702
docker/cli#1143 is about the problem of Docker hub, not a private registry.

[2019-10-30 02:22] allencloud commented on #1038
Could we nail down specific time for the detailed work? @Starnop Otherwise, maybe little productivity could be guaranteed.

[2019-10-30 05:20] zhouhaibing089 commented on #1038
IPv6 support needs more work, I guess. In my opinion, the GA version probably should just be fixing usability issues instead of making it working with IPv6. Probably we can clearly say that we only support IPv4, and get rid of irrelevant errors to reduce frictions.

[2019-10-30 05:26] zhouhaibing089 commented on #1038
I think we also need to specifically clarify which kind of configuration can be reloaded automatically. Not all of them can be obviously, for example, the port can't be changed unless give it a restart. I've seen projects(prow for example) which simply updates configuration every minute.

[2019-10-30 05:32] zhouhaibing089 commented on #997
https://github.com/dragonflyoss/Dragonfly/blob/e51ade6ca36f097018bf7a035aa2f7a233d65e50/dfdaemon/downloader/dfget/dfget.go#L110

This command does not have any timeout configured. We probably should call `exec.CommandContext` instead.

[2019-10-30 05:42] zhouhaibing089 commented on #1038
I hope https://github.com/dragonflyoss/Dragonfly/pull/1041 will fix #997.

[2019-10-30 06:44] Starnop commented on #1038
I agree with you. And I think we can make more discussion in the issue #959.

And in fact, viper also supports the ability to have your application live read a config file while running.

[2019-10-30 06:47] Starnop commented on #1038
If that, we should make dfget should not obtain the IPv6 address firstly. also cc/ @fengzixu

[2019-10-30 07:03] fengzixu commented on #1038
emmm, it depends on our requirement of a new version. If we just don't want to release this function now, I will modify the dfget's logic to ban the IPv6 address firstly.

[2019-10-30 07:52] Starnop commented on #1038
Could you please make an assessment of the workload firstly? If it needs a lot of work, I  think it's OK to ban the IPv6 address firstly. THX.

[2019-10-30 08:17] xq2248 commented on #1038
File preheating feature has not been migrated yet.

POST ​/preheats Create a Preheat Task
GET ​/preheats List Preheat Tasks
GET ​/preheats​/{id} Get a preheat task

[2019-10-30 09:42] Starnop commented on #1038
Thanks for pointing this out. And what do you think of we planned for it in the version immediately after GA? And for the GA version, we try to ensure the stability of the system as much as possible. WDYT? 😄

[2019-10-30 10:40] orange64 opened #1042 "failed to pull images from harbor through supernode"
## Question

I install dragonfly on kubernetes,it can pull images successfully:
`2019-10-30 10:08:51.618 INFO sign:193-1572430124.416 : pull piece task({"taskID":"1d8174175c4fd7746ddf1213f6507578837d66ed5eb76137ffee460b12443b40","superNode":"supernode:8002","dstCid":"192.168.137.7-106-1572430051.752","range":"83886080-88080383","result":503,"status":701,"pieceSize":4194304,"pieceNum":20}) result:{

[2019-10-30 10:42] zhujian7 commented on #1037
@Starnop I tried with the master branch, but I still appear. Could you please tell me which PR FIX this problem.

[2019-10-30 10:49] orange64 commented on #1042
I noticed that in docker info:
`Registry: https://index.docker.io/v1/`
is that the problem?

[2019-10-30 11:00] Starnop commented on #1042
Please paste the output of `docker info`. THX

[2019-10-30 13:15] Starnop commented on #993
Releated issue: #978

[2019-10-30 13:15] #993 closed

[2019-10-31 01:09] xq2248 commented on #1038
Pretty good.

[2019-10-31 01:19] orange64 commented on #1042
@Starnop docker info in client:
`HTTP Proxy: http://127.0.0.1:65001
 HTTPS Proxy: http://127.0.0.1:65001
 Registry: https://index.docker.io/v1/
 Labels:
 Experimental: false
 Insecure Registries:
  192.168.137.6
  127.0.0.0/8
 Registry Mirrors:
  http://127.0.0.1:65001/
 Live Restore Enabled: false
 Product License: Community Engine
`

[2019-10-31 03:14] ww3122000 commented on #1025
Thanks for the invitation, but I'm not familiar with the code yet.

[2019-10-31 03:34] jyizheng commented on #1022
This is super interesting. I am very happy to help.

[2019-11-01 07:24] pouchrobot opened #1043 "WeeklyReport of Dragonfly from 2019-10-25 to 2019-11-01"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-11-01 11:58] Starnop commented on #1034
@fengzixu any updates? 😄

[2019-11-01 13:09] fengzixu commented on #1034
I will give the conclusion this weekend.

[2019-11-02 13:32] zcc35357949 commented on #997
Dfget server process is created by dfget process by `StartPeerServerProcess`.At the beginning and ending of this function, `checkPeerServerExist` will be invoken to check whether dfget http server is ready.
But in concurrent situation dfget server may be created many times and generate many dfget server processes. Only one of them can listen on the peer port,  other processes will exit for `addres

[2019-11-03 07:34] zhouhaibing089 commented on #997
Nice findings!

[2019-11-03 07:39] zhouhaibing089 commented on #997
I'm also curious on whether `dfget` should wait for the exit status from the spawned `dfget server` processes? I assume those child processes always live longer than their parent.

[2019-11-03 09:23] zcc35357949 commented on #997
If dfget server process is not exist, dfget process  will create it and it will stay alive for over `alivetime`. This period is usually much longer than dfget process's alive time. Once dfget process destory, dfget server process's parent will be Pid 1.

[2019-11-04 01:03] fengzixu commented on #1034
Hi @Starnop @zhouhaibing089 , after I check related issues. I found there are 3 places which will validate the IP address format:
1.  [https://github.com/dragonflyoss/Dragonfly/blob/master/apis/swagger.yml#L705](https://github.com/dragonflyoss/Dragonfly/blob/master/apis/swagger.yml#L705)
2.  [https://github.com/dragonflyoss/Dragonfly/blob/master/apis/swagger.yml#L807](https://github.com/dragonflyo

[2019-11-04 01:55] Starnop opened #1046 "[feature request]: redirect url for proxy item"
## Why you need it?

We use the dfdaemon as a proxy to handle the request for the client like dockerd. However, sometimes we need to redirect the request to the specified host just like `proxy_redirect` of Nginx. So I think we need to add a `host` config item to make it possible.

## How it could be?

[code]

## Other related information

FYI https://github.com/dragonflyoss/Dragonfly/pull/410

[2019-11-04 01:55] Starnop commented on #1046
also cc/ @inoc603

[2019-11-04 01:59] Starnop commented on #1042
I think you have no proxy config for your dfdaemon, so it will only proxy the request to docker hub registry. FYI https://github.com/dragonflyoss/Dragonfly/blob/3c19383d1adf4ea532b574ef1cff91f8c376962b/docs/ecosystem/Harbor-with-Dragonfly.md#prepare-the-configuration-file-1

[2019-11-04 02:33] orange64 commented on #1042
I have modified http proxy according to this doc,you can see this in my docker info:
`HTTP Proxy: http://127.0.0.1:65001`

[2019-11-04 03:03] Starnop commented on #1042
I mean that you haven't config the dfdaemon. Something like this:

[code]

[2019-11-04 03:36] Starnop commented on #1034
In my opinion, I think it's more of a physical layer thing support for ipv6. Relax the restrictions on IP verification is enough.

In addition, we should make it possible for users to choose whether to support iPv6 according to their own network environment.

cc/ @fengzixu @zhouhaibing089

[2019-11-04 07:13] orange64 commented on #1042
After I set `/etc/dragonfly/dfdaemon.yml` ，strange logs appear when downloading the public image and harbor image
This is part of client.log:
`2019-11-04 05:00:20.065 WARN sign:294-1572843619.782 : register fail but try to download from source, reason:1({"Code":-100,"Msg":"404:<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>404 - Page Not Found</title>
<style>

*{
	maring: 0;
	padding:

[2019-11-04 07:18] zhouhaibing089 commented on #1034
This somehow relates to dual-stack support. What happens if some of clients are on ipv4 and some of them are on ipv6? Will supernode track the ip address family for each client so that it may not return ipv6 peers to ipv4 clients?

[2019-11-04 08:17] fengzixu commented on #1034
You mean the dfget will run on machines which perhaps were configured IPv4 addr or IPv6 addr.
So we need to support multiple IP format at the same time. Am I right?

[2019-11-04 08:46] Starnop commented on #1034
Yeah, that's right. And it will bring something difficult. And let's do as @zhouhaibing089 said [here](https://github.com/dragonflyoss/Dragonfly/issues/1038#issuecomment-547743035). @fengzixu

[2019-11-05 03:01] zhm9484 opened #1047 "dragonfly is unstable with high latency"
### Ⅰ. Issue Description
I tested dragonfly in a kubernetes cluster of 300 nodes which were 2c4g vms.
The purpose the test was to see the stability of dragonfly in **_distributing files across multiple nodes_**.
It turned out that dragonfly became unstable.
The testing procedure is as follows:
1. Supernode starts with arg "--max-bandwidth 10000000MB".
2. Every node has a downloader with dfget on i

[2019-11-05 03:18] lowzj commented on #1047
Could you paste related logs of dfget? see [FAQ](https://github.com/dragonflyoss/Dragonfly/blob/master/FAQ.md#how-to-view-all-the-dfget-logs-of-a-task) to get logs.

[2019-11-05 06:52] zhm9484 commented on #1047
I can only find some logs like this.
[code]

But what bothers me is the high latency which was about 30s. And the logs are like this:
[code]

[2019-11-05 06:59] inoc603 commented on #1046
I think `host` might not be very clear on the purpose to this configuration, maybe something like `redirect` or `rewrite` would be better.

[2019-11-05 08:22] zjz0924 opened #1048 "how to use dfget command to download general files in the client host (not in the container)"
I deployed the dragonfly with Docker.
Could you please tell me how to use dfget command to download general files outside the container?  likes the command 'docker pull'.

[2019-11-05 08:38] orange64 commented on #1048
I have the same question,when i use 'dfget',it returns `bash: dfget: 未找到命令...`

[2019-11-06 10:55] zcc35357949 opened #1051 "distinct path&path/filepath package usage in the code"
## Question
There are two packages path&path/filepath which have the same function named `Join()` in golang sdk.  I find that the usages are casual in our code.
For example, https://github.com/dragonflyoss/Dragonfly/blob/master/cmd/dfget/app/root.go#L175
https://github.com/dragonflyoss/Dragonfly/blob/master/cmd/dfget/app/root.go#L188
...

In fact, they are different.
- `path` package use `/` as se

[2019-11-06 11:03] SataQiu commented on #1051
/assign

[2019-11-07 02:35] lowzj commented on #1047
It seems that the supernode at that time didn't work fine or the bandwidth of the supernode was used out.
Could you paste the log and the io/network details of supernode at that time.

[2019-11-07 03:56] #1051 closed

[2019-11-07 03:57] Fize opened #1053 "dfdaemon: when will version 0.5.0 be released"
## Question

we've already used dragonfly in the company, handling some file downloads and doing some custom develpoment.

We are using alicloud image registry service and  we are using uber/kraken pulling images, because dragonfly and kraken are similar, we wanted to use only one in our environment and redeveloping the kraken would waste all of our previous work.  We note that dragonfly currently

[2019-11-07 04:02] Starnop commented on #1053
So glad that you are ready to using `dragonfly` as the distribution tools. As for `HTTPS enabled registry`, we have already supported it very early.

FYI:
+ https://github.com/dragonflyoss/Dragonfly/blob/master/docs/user_guide/docker_proxy.md
+ https://github.com/dragonflyoss/Dragonfly/pull/1028
+

[2019-11-07 07:24] sodwell opened #1054 "镜像下载时而正常，时而异常问题"
## Question

目前使用docker http/https proxy方式下载镜像，会出现有时候正常下载，有时候会下载等待后无法正常下载，提示502 错误。
经过dragonfly开发者日志分析后，可能是：dfclient收到某个镜像块后没有上报给supernode，或者收到后，supernode没有处理。

[supernode2-log.tar.gz](https://github.com/dragonflyoss/Dragonfly/files/3818318/supernode2-log.tar.gz)
[supernode1-log.tar.gz](https://github.com/dragonflyoss/Dragonfly/files/3818319/supernode1-log.tar.gz)

[2019-11-07 09:12] zhouhaibing089 commented on #997
/reopen

[2019-11-07 13:21] zcc35357949 opened #1055 "supernode fails to read .meta file with json parsing error"
### Ⅰ. Issue Description
supernode log:
[code]
I got the above errors when I pulled images.   I find that the meta file's json format is incorrect.
[code]
There is a redundant `}` in the end. Maybe the local storage driver of supernode do not overwrite entire meta file, and the `}` is left from the last writing.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. Ho

[2019-11-07 13:40] Starnop commented on #1055
/assign

[2019-11-07 15:24] yeya24 commented on #959
I agree with that. A global config var may help. I think we should divide the current configuration into two groups first, one group cannot be hot reload and these vars cannot change during runtime like port, log level, I think these vars should be passed via flags. Another group of vars support hot reload, like registry conf, they can only be passed via config files.

This pattern is very similar

[2019-11-08 06:15] Starnop commented on #1046
Maybe `redirect` is better. 😄

[2019-11-08 07:24] pouchrobot opened #1059 "WeeklyReport of Dragonfly from 2019-11-01 to 2019-11-08"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-11-11 04:06] #1059 closed

[2019-11-13 03:11] Starnop commented on #1053
No reply. And close it first. @Fize  If you have any questions. please reopen it.

[2019-11-13 03:11] #1053 closed

[2019-11-13 03:15] #1043 closed

[2019-11-13 03:17] #1012 closed

[2019-11-13 03:19] Starnop commented on #998
You can add it to the dfdaemon.yml. FYI https://github.com/dragonflyoss/Dragonfly/blob/master/docs/config/dfdaemon_properties.md

[2019-11-13 03:58] Starnop opened #1069 "[feature request] add a cmd to generate the default config file for Dragonfly"
## Why you need it?

For a better experience for users, we can provide a command to generate default config file with default value for every component of the dragonfly.

Just as follows:
[code]

## How it could be?

## Other related information

[2019-11-13 03:59] Starnop commented on #1069
also cc/  @fengzixu @SataQiu

[2019-11-13 06:17] orange64 opened #1070 "When pull images from harbor:"received unexpected HTTP status: 502 Bad Gateway""
## Question

When I pull image from docker registry, it can be downloaded successfully, but the log shows "peer should wait"

[code]
dfclient.log:
[code]

When I pull image from harbor,it returns:"error pulling image configuration: received unexpected HTTP status: 502 Bad Gateway"
dfclient.log:
[code]
supernode log:
[code]

Is there any connection between the two questions? How to solve it?

 dfda

[2019-11-13 06:54] Starnop commented on #1070
@zcc35357949 Could you please have a look?

[2019-11-13 07:02] Starnop commented on #1070
Please delete the config `use_https: true`.

[2019-11-13 07:35] zcc35357949 commented on #1070
Could you show more complete log details?  The timestamps are different in dfclient and supernode's log.

[2019-11-13 10:28] orange64 commented on #1070
@Starnop points out that my docker `insecure-registries` is wrong because I didn't write the port 443.After I modify it,dargonfly can work normally.
Thanks very much for your attention.
@zcc35357949

[2019-11-13 10:28] #1070 closed

[2019-11-13 11:46] #1055 closed

[2019-11-13 16:21] yeya24 opened #1072 "provide binary files in each release"
## Why you need it?

Currently, in each release page, there are only links for the images and source code. We should include the binaries (dfget, dfdaemon, supernode) in each release as well.

## How it could be?

We can add release jobs in the CI steps with https://github.com/goreleaser/goreleaser.

## Other related information

[2019-11-13 16:26] yeya24 commented on #1048
Thanks for reporting.
I am sorry that we don't include the dfget binary in the release page. If you want to use dfget outside the container, you can just build it from the source code via `make build-client`, then you get the binary. If you don't want to build the code, you can copy the dfget binary from the dfclient container to your host machine.

If you are seeking for dfget usage, please refer

[2019-11-14 12:41] fengzixu commented on #1069
Should we supply the default config based on config files in `docs/config` ?

[2019-11-14 15:10] Starnop commented on #1072
It looks so exciting. 😄

[2019-11-14 15:40] Starnop commented on #1069
Maybe according to the source code is better. Haha 😄

[2019-11-15 01:47] Starnop commented on #1072
And would you like to do that? We can use it in the upcoming version.

[2019-11-15 01:56] yeya24 commented on #1072
Sure. /assign @yeya24

[2019-11-15 03:19] hmthoo commented on #1042
这里的df.crt df.key ca.crt具体需要放在哪个目录 ？

[2019-11-15 06:29] hmthoo opened #1078 "create proxy: load cert: open df.crt: no such file or directory"
## Question
**Document:**
[code]
**Errors log**
[code]
What directory should I put in?

[2019-11-15 06:57] zcc35357949 commented on #1078
Could you use the absolute path?

[2019-11-15 07:24] pouchrobot opened #1079 "WeeklyReport of Dragonfly from 2019-11-08 to 2019-11-15"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-11-15 12:41] #1034 closed

[2019-11-15 12:43] Starnop commented on #1078
You need to generate them by yourself. FYI: dragonfly has provided a [script](https://github.com/dragonflyoss/Dragonfly/blob/master/Makefile#L166).

[2019-11-15 12:58] #1046 closed

[2019-11-15 14:05] Starnop commented on #693
Long-time no reply. Close it now.

[2019-11-15 14:05] #693 closed

[2019-11-15 14:06] Starnop commented on #697
Long-time no reply. Close it now.

[2019-11-15 14:06] #697 closed

[2019-11-15 14:06] Starnop commented on #698
Long-time no reply. Close it now.

[2019-11-15 14:06] #698 closed

[2019-11-15 14:23] #691 closed

[2019-11-15 14:42] #976 closed

[2019-11-16 03:31] #1072 closed

[2019-11-17 12:32] yunfeiyanggzq opened #1082 "[Help request]build dragonfly version 1.0 api"
## Why you need it?

Now supernode add dfget use 0.3 version api to download file. But the v0.3 api  can't work well for many situations. So our community want to update the api.
## How it could be?

The community has done many thing for the  v0.1 api.The v1.0 api run as the [picture](https://github.com/dragonflyoss/Dragonfly/blob/master/docs/images/design/dfget_supernode.png) shows.And the commun

[2019-11-17 14:32] jyizheng commented on #1082
I am happy to look at the task API of the supernode bridge.

[2019-11-17 14:40] jyizheng opened #1083 "Implement task bridge of supernode v1.0 API"
## Why you need it?

There are four APIs that need be implemented in supernode/server/task_bridge.go.

POST: /tasks
DELETE: /tasks/{id}
GET:/task/{id}
GET:/task

Currently, only the DELETE API is done. We need to implement the other three.

## How it could be?

## Other related information

[2019-11-17 14:49] Starnop commented on #1083
Thank you very much. And the issue #1082 has already recorded this problem. How about
move to #1082? 😄

[2019-11-17 14:53] Starnop commented on #1082
ref: #1065

[2019-11-17 14:54] yunfeiyanggzq commented on #1082
emmm,I am sorry, I have modify some api of supernode in https://github.com/dragonflyoss/Dragonfly/issues/1082#issuecomment-554751325.we can work together to finish the dfget.the work is
Tiǎozhàn de
3/5000
Challenging

[2019-11-17 14:59] yunfeiyanggzq commented on #1083
in fact. I am working on some part of #1082,but we should modify the dfget api.it is Challenging

[2019-11-17 15:02] yunfeiyanggzq commented on #1082
of course,there are many problems with the supernode bridge.you can modify it

[2019-11-18 10:46] SataQiu commented on #1069
/assign

[2019-11-18 12:16] hmthoo commented on #1078
Should use an absolute path?

[2019-11-18 12:17] hmthoo commented on #1078
I don't quite understand which path should I put in?

[2019-11-19 17:51] NikiChr commented on #998
I tried to use a dfdaemon.yml for a smaller network and experienced an error.
The file for a node(44.0.0.0) in a network with 2 supernodes (44.0.0.11, 44.0.0.13), looks like this.
[code]
However when I use `docker pull` dragonfly is not used and there is no `root/.small-dragonfly/logs/dfclient.log` file.
I am using dfget version 0.4.3.
I also have a dfget.yml, which also indicates the supernodes t

[2019-11-20 03:22] liy516 opened #1086 "the version 1.0.0 of dfget still have zombie processes after pull image"
## phenomenon

[root@dragonfly01 dragonfly]# docker ps
CONTAINER ID        IMAGE                                 COMMAND                  CREATED             STATUS              PORTS                      NAMES
99b11e0b94f0        192.168.56.102/common/dfclient:1.0.0   "/opt/dragonfly/df-c…"   22 minutes ago      Up 6 minutes        0.0.0.0:65001->65001/tcp   dfclient
[root@dragonfly01 dragonfly]#

[2019-11-20 03:29] fengzixu commented on #1086
Can you fill the re-produce method in this issue? I think it is beneficial for investigating the problem.

[2019-11-20 03:50] #1048 closed

[2019-11-20 04:12] zcc35357949 commented on #1086
https://github.com/dragonflyoss/Dragonfly/blob/master/dfget/core/uploader/peer_server_executor.go#L75
https://github.com/dragonflyoss/Dragonfly/blob/master/dfget/core/uploader/peer_server_executor.go#L79

[2019-11-20 05:56] liy516 commented on #1086
Pulling a new mirror produces the same number of zombie processes as the number of levels of the mirror.

[2019-11-20 06:10] liy516 commented on #1086
You have submitted a PR, I try to  compile your code and test it.

[2019-11-21 06:37] #1086 closed

[2019-11-22 07:24] pouchrobot opened #1090 "WeeklyReport of Dragonfly from 2019-11-15 to 2019-11-22"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-11-24 10:49] weekly-digest[bot] opened #1091 "Weekly Digest (17 November, 2019 - 24 November, 2019)"
Here's the **Weekly Digest** for [*dragonflyoss/Dragonfly*](https://github.com/dragonflyoss/Dragonfly):

 - - -
# ISSUES
Last week 9 issues were created.
Of these, 3 issues have been closed and 6 issues are still open.
## OPEN ISSUES
:green_heart: #1090 [WeeklyReport of Dragonfly from 2019-11-15 to 2019-11-22](https://github.com/dragonflyoss/Dragonfly/issues/1090), by [pouchrobot](https://github.c

[2019-11-25 01:36] huerlei opened #1092 "dfget 过程中 get item timeout"
[2019-11-25 09:34:48,334] WARNING sign:25002-1574644742.051 lineno:129 : get item timeout(2s) from queue.
[2019-11-25 09:34:48,556] WARNING sign:46751-1574135582.074 lineno:129 : get item timeout(2s) from queue.
[2019-11-25 09:34:48,582] WARNING sign:25033-1574644742.243 lineno:129 : get item timeout(2s) from queue.
[2019-11-25 09:34:48,921] WARNING sign:38313-1574645643.874 lineno:129 : get item

[2019-11-25 03:11] #1091 closed

[2019-11-25 06:57] zjz0924 opened #1093 "how to batch configure Docker Daemon"
If I have many hosts,  it is obviously unrealistic to execute the below operations manually.

1.  Modify the configuration file /etc/docker/daemon.json
2.  Add or update the configuration item registry-mirrors in the configuration file
3.  Restart Docker Daemon

How can I batch configure Docker Daemon?

[2019-11-25 12:42] Starnop commented on #1038
We have published the 1.0.0 version without feature [hot reload for config files]. And we should finish it later.

[2019-11-25 12:42] #1038 closed

[2019-11-25 12:52] Starnop opened #1094 "[docs] update the docs with the 1.0.0 version has been published"
## Why you need it?

We should update the docs for 1.0.0 version, which including:
- [ ] add a [doc](https://github.com/dragonflyoss/Dragonfly/blob/master/docs/ecosystem/Harbor-with-Dragonfly.md) as the best practice for `using Dragnfly with Harbor`.
- [ ] add a [doc](https://github.com/dragonflyoss/Dragonfly/blob/master/docs/ecosystem/Kubernetes-with-Dragonfly.md) as the best practice for `deploy

[2019-11-25 12:58] Starnop commented on #1093
You can use tools like ansible to do that.

[2019-11-25 13:00] Starnop commented on #1092
Could you please provide more info details, such as:
+ the Dragonfly version that you used
+ the Dragonfly config
 + and more logs

[2019-11-25 13:02] #1090 closed

[2019-11-25 13:07] Starnop opened #1095 "[CI] no need to running all CI tests for the PR which only modify the docs"
## Why you need it?

## How it could be?

## Other related information

[2019-11-25 14:14] olegkuzminvic opened #1096 "Persist image cache on supernode for longer time?"
## Question
Hello everybody, I'm writing my bachelor thesis and analyzing the docker image distribution with P2P and "classic" registry. I have 70 VMs in the cloud, which are pulling different images several times (50 MB, 300 MB, 2GB each). I see that using Dragonfly is much slower (or do I do something wrong :D), the Supernode immediately deletes the images and has to reload the images on the nex

[2019-11-25 19:07] yeya24 commented on #1095
I will take this.

[2019-11-26 03:17] yeya24 commented on #1094
I will take this part. `update the Dragonfly version and perfect the documentation for quick start doc and user guides`

[2019-11-26 08:12] #1092 closed

[2019-11-26 12:06] Starnop commented on #1094
@lowzj Are you willing to finish this part `add a doc for supernode plugin (ref #443)`?

[2019-11-26 12:07] Starnop commented on #1094
I will take this part: ` update the FAQ doc including removing obsolete questions and refining answers for questions, etc.`

[2019-11-26 12:32] Starnop commented on #1096
What's that mean of `the Supernode immediately deletes the images`? Could you please elaborate more on that?  In addition, I think it's better to show your Dragonfly version, your config file and how do you use it.

And I have a guess about what you said, the supernode will start to gc the file if your disk is smaller than 100GB and full GC will be executed once it's below 5GB.

FYI. More GC confi

[2019-11-26 13:09] Starnop opened #1097 "[CI] generating supernode cli doc with robot"
## Why you need it?

Only dfget and dfdaemon will be generated cli docs under the dir of [docs/cli_reference](https://github.com/dragonflyoss/Dragonfly/tree/master/docs/cli_reference). And we should do that with supernode.

## How it could be?

## Other related information

[2019-11-26 14:09] olegkuzminvic commented on #1096
Hey @Starnop ,
thank you for answering.

Supernode&clients: v1.0.0

I have default settings by supernode

Landscape:
1 master host for supernode: 8GB RAM, 4 VCPU, Disk 10GB (ubuntu-bionic-18.04)
10,20,30,70 worker hosts for dfclients:  2GB RAM, 1 VCPU, Disk 10GB (ubuntu-bionic-18.04) each
Dragonfly works by all hosts in docker runtime. All VMs are in Cloud.

Testing: I pull&remove the images 10 ti

[2019-11-26 15:20] yeya24 commented on #986
Any thoughts for this issue?
Currently the gc threshold is hardcoded, so if the maximum disk capacity is small, everytime the disk gc will trigger and walk through the whole path. We should make it configurable. @Starnop

[2019-11-26 15:34] yeya24 commented on #651
I am sorry that I reopen this issue. I found that there is still no option to configure outputting logs to console in both dfdaemon and supernode. Did I miss something? @Starnop  @lowzj  @inoc603

[2019-11-26 18:54] #986 closed

[2019-11-28 15:09] #1097 closed

[2019-11-28 15:25] Starnop commented on #1096
I think so. Would you like to submit an issue to record that?

[2019-11-29 02:22] gttcc opened #1103 "物理机部署后多并发下载速度慢疑似没有通过P2P方式下载，如何实现P2P下载呢？"
## Question

请developers帮忙解决一下这个问题，谢谢！
-----------------------------------------------------------------------------
下载使用的版本： Dragonfly-0.3.x.zip
环境：server和client都是CentOS7.5 物理机
以下操作中，仅编译 supernode 时连接互联网。
--------------------------------- 操作步骤 ---------------------------------
1. 解压后，编译并启动supernode：
参考文档：https://github.com/dragonflyoss/Dragonfly/blob/0.3.x/docs/user_guide/install_server.md
根据 Pro

[2019-11-29 02:24] allencloud commented on #1103
Thanks for your report. Actually we are planning not to support version 0.3.x. Could you use version 1.0.0? @gttcc

[2019-11-29 02:32] Starnop commented on #1103
![image](https://user-images.githubusercontent.com/31209634/69839669-7889a300-1293-11ea-9640-c461e302f5c2.png)

With the version 0.3.x, you should not specify the port for supernode host and the default 8002 will be added.

[2019-11-29 07:24] pouchrobot opened #1104 "WeeklyReport of Dragonfly from 2019-11-22 to 2019-11-29"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-11-30 16:50] yeya24 opened #1108 "Consider removing travis ci"
I think currently we don't use travis ci anymore. Is it necessary to still keep it?

[2019-12-01 02:26] yeya24 opened #1111 "[feature request] build deb and rpm package in goreleaser"
## Why you need it?

Goreleaser has a feature to build deb and rpm package. If we add this to replace the current package shell scripts.

## How it could be?

## Other related information

[2019-12-01 03:52] Starnop commented on #1111
However, I think we also need a script to build deb and rpm package locally because goreleaser will only work when a version is released. WDYT?

[2019-12-01 11:01] allencloud opened #1112 "Add yamlint in CI system for all the yaml files in this repo"
## Why you need it?

<img width="729" alt="23631;"29031;2019-12-01.19979;"21320;"7 00 00-13"src="https://user-images.githubusercontent.com/9465626/69912997-d32a2700-146c-119412-647870p6">

// <img width="729" alt="屏幕快照 2019-12-01 下午7 00 13" src="https://user-images.githubusercontent.com/9465626/69912997-d32a2700-146c-11ea-9412-64787cc72506.png">

## How it could be?

In CI system, when we have a y

[2019-12-01 11:01] fengzixu commented on #1112
/assign fengzixu

[2019-12-01 11:09] #1104 closed

[2019-12-01 11:16] allencloud commented on #1108
The travisCI is only used to build docker images, see `make build` and file [./hack/docker-build.sh](https://github.com/dragonflyoss/Dragonfly/blob/master/hack/docker-build.sh) .

And we need to see if the docker image building step is essential. From my point of view, maybe we could keep it, it will influence us nothing. But when it fails to build images because of code mistake or something else,

[2019-12-01 11:31] #1079 closed

[2019-12-01 11:32] allencloud commented on #1027
I think we can close this. If you have further question, please do not hesitate to leave a message. @ww3122000

[2019-12-01 11:32] #1027 closed

[2019-12-01 11:36] allencloud commented on #1112
@fengzixu we need to first add ymalint in pouchlinter, I think. https://github.com/pouchcontainer/pouchlinter

[2019-12-01 13:39] yunfeiyanggzq opened #1115 "[healp request][help wanted]implement supernode /preheat api"
## Why you need it?

now  we want to  have [a  /preheat  api](https://github.com/dragonflyoss/Dragonfly/blob/d714d989142a9597ae6108a6bef0282ada2177a1/apis/swagger.yml#L560)  but the supernode haven't implement it ,we badly want somebody  to implement it as soon as possible.the  v0.3 java version implement it ,you can reference it
## How it could be?

## Other related information

[2019-12-01 13:46] yeya24 commented on #1111
@Starnop  OK, we can keep the scripts first.

[2019-12-02 06:54] gttcc opened #1117 "使用dragonfly下载比普通下载慢很多，请帮忙看看，谢谢"
## Question

使用的版本：Dragonfly_1.0.0_linux_amd64.tar.gz
环境：5台物理机，1个server，4个client
----------------------------------- 操作步骤 -----------------------------------
1. 把tar包分别拷贝到5个物理机上，解压后，配置环境变量
2. 添加supernode配置文件 supernode.yaml
![image](https://user-images.githubusercontent.com/52644656/69935748-c828d280-1510-11ea-8a16-ff0d966796e2.png)

3. 启动supernode
nohup supernode --config config/supernode.yaml --h

[2019-12-02 08:46] lowzj commented on #1108
The travis-ci now is used to validate the Dockerfile and image building scripts. Travis-ci could be removed but the validation step should be retained. We can move it to circle-ci if possible.

[2019-12-02 09:28] lowzj commented on #1117
Could you paste the related logs of dfget, and the size of the file, the network bandwidth of the machine which deploys supernode? see: [How to view all the dfget logs of a task](https://github.com/dragonflyoss/Dragonfly/blob/master/FAQ.md#how-to-view-all-the-dfget-logs-of-a-task)

[2019-12-02 13:11] yunfeiyanggzq opened #1118 "[design][feature request]only register a peer for the same node download many tasks"
## Why you need it?

now ,supernode will register a peer after  a task  start,but the same node will register many peer after download serval files,
I and @Starnop  think may be we can register a peer only one time for the same node,
the register can run as follows:
[code]
there is a problem that how to get peerID by  host,ip,port, fastly.
and how do you think the design?
this design mainly use to

[2019-12-02 13:18] yunfeiyanggzq commented on #1118
@jyizheng @yeya24 @allencloud

[2019-12-02 13:21] fengzixu commented on #1112
Let me add it.

[2019-12-03 01:47] gttcc commented on #1117
机器带宽113M/s
日志如下图：
![E991CD8F-0785-4A50-9F35-FE935CB18F6A](https://user-images.githubusercontent.com/52644656/70013122-8ef46f00-15b1-11ea-9137-68b25e189215.jpeg)

机房环境无法联网，只能用手机或去联网的电脑发帖，如果有描述不清楚的可以在钉钉群里@我，谢谢

[2019-12-03 01:48] gttcc commented on #1117
办公电脑也无法联网…

[2019-12-03 02:41] lowzj commented on #1117
从这个日志看，客户端在等待supernode从源下载第一个分片数据，还请贴下supernode的相关日志。

---

理论上，单客户端下载新文件，使用p2p模式会比直接下载慢。p2p模式首次下载新文件时，supernode会首先从源文件服务器下载到本地，supernode按分片下载，分片大小为4MB～15MB，只要有分片下载完成客户端就开始下载。为了保证文件的正确性，dfget在下载完成后还会计算整个文件的md5值。如果supernode机器带宽充足，单客户端p2p耗时=直接下载耗时 + 首个分片下载耗时 + 整个文件md5计算耗时。批量下载会保持这个速率。

另外从部署配置来看，源文件服务器和supernode是同一台，而且dfget限速远远超过了机器带宽，理论上，单客户端首次下载文件，p2p模式的耗时应该比直接下载慢一倍。因为dfget从supernode下载，supernode从源

[2019-12-03 04:00] gttcc commented on #1117
———————————
我这边单个client下载，不仅是首次，第二次第三次都是很慢。。
dfget不加—node选项进行下载的时候和scp的速度差不多，240s是因为有一次4个client同时用dfget不加—node选项下载的时候其中一个client在server上，240s基本上是其他3个物理机的速度，3倍于一个client的下载速度。
supernode上的日志：
![68D99B60-6243-4144-93ED-3D27065C837A](https://user-images.githubusercontent.com/52644656/70019309-cec45200-15c3-11ea-8226-26a997772384.jpeg)
![25F9AED6-1C97-45F6-AD1B-9D69D67A1FB7](https://user-images.githubuse

[2019-12-03 08:59] everpeace opened #1119 "How to upload general files to dragonfly??"
Thank you for sharing the cool project!

## Question

I'm planning to use dragonfly for general contents distribution inside the kubernetes clusters.

How to upload generic files to dragonfly networks from some node??  I think [`dfget server` ](https://github.com/dragonflyoss/Dragonfly/blob/master/docs/cli_reference/dfget_server.md) is what I'm looking for.  But, I can't find any API document of `

[2019-12-03 09:08] fengzixu commented on #1119
Thanks for your interest in Dragonfly project.
Actually, the dfget can be used as a peer server in the p2p network. It isn't a file cache. If you want to distribute the file among kubernetes cluster with the help of Dragonfly, you can directly download it through dfget first time, the supernode will help you cache the file. After that if you want to distribute the same file,   it can be transferre

[2019-12-03 09:11] everpeace commented on #1119
@fengzixu Thanks for the quick reply!

So, does dragonfly currently support only `http/https` protocol to download the contents?? Am I correct??

[2019-12-03 09:11] fengzixu commented on #1119
You also can detect this design doc to know how Dragonfly works:
https://github.com/dragonflyoss/Dragonfly/blob/master/docs/design/design.md

[2019-12-03 09:13] fengzixu commented on #1119
You are right.

[2019-12-03 09:30] Starnop commented on #1119
In fact, we have plans to [support more protocols in the future](https://github.com/dragonflyoss/Dragonfly/blob/master/ROADMAP.md#v10x). And could you please describe your needs in more detail？ THX.

[2019-12-03 10:13] everpeace commented on #1119
I'm glad to here that!  In our expected use case, we would distribute the files mainly in two different locations:

- in NFS volumes (`file://` protocol)
- in HDFS cluster (`hdfs://` protocol)

as node-local contents cache

[2019-12-03 13:40] fengzixu commented on #1112
add yamllint to pouchlinter: https://github.com/pouchcontainer/pouchlinter/pull/21

[2019-12-04 03:05] allencloud commented on #1112
@fengzixu I have merged your pull request. Now you can use image `pouchcontainer/pouchlinter:v0.2.6` to modify the circle ci config.yml.

In addition, I am planning to migrate project github.com/pouchcontainer/pouchlinter to github.com/dragonflyoss/linter . I wish to hear what you think of it. @lowzj @yeya24 @Starnop

[2019-12-04 04:07] yeya24 commented on #1112
I agree to host this lint image in dragonflyoss.  But how? Just fork the pouchlinter repo?

[2019-12-04 05:29] allencloud commented on #1112
I could migrate or transfer that to this org. @yeya24

[2019-12-04 05:38] zhouhaibing089 commented on #1112
@allencloud: Why dragonflyoss/linter and not pouchcontainer/linter?

[2019-12-04 07:34] lowzj commented on #1117
* dfget 加参数 --totallimit，默认是20MB/s
* 把supernode和文件源分开

[2019-12-04 08:31] Starnop opened #1123 "[Help Wanted] make Dragonfly managed by systemd"
## Why you need it?

Users have to write their own scripts to handle the startup and management of Dragonfly components when they use Dragonfly on physical machines. And systemd provides a complete solution that.

So we can provide **a systemd file**. And later, we can even make our components installed by package management tools such as yum, apt, etc directly.

## How it could be?

## Other rela

[2019-12-05 08:35] wangxiaohua10 commented on #1117
I resolved this problem by this installation guide:https://raw.githubusercontent.com/wangxiaohua10/Dragonfly/master/docs/user_guide/install_kube_docker.md
Maybe this can help you.

[2019-12-05 11:54] Fize opened #1124 "dragonfly 1.0.0 failed to pull the image"
## dragonfly 1.0.0 failed to pull the image

dfdamon log:

[code]

dragonfly configuration file:

[code]

this is supernode log:

[code]

I set http_proxy and https_proxy for docker daemon

Using the same configuration in another cluster does not have a similar problem, pull image was successful, now what should I do.

[2019-12-05 11:58] lowzj commented on #1124
Could you paste the related logs of dfget? see: [How to view all the dfget logs of a task](https://github.com/dragonflyoss/Dragonfly/blob/master/FAQ.md#how-to-view-all-the-dfget-logs-of-a-task)

[2019-12-05 12:02] Fize commented on #1124
There are no dfget log files in the $HOME/.small-dragonfly/logs/ directory

[2019-12-05 12:02] Fize commented on #1124
There are no dfget log files in the $HOME/.small-dragonfly/logs/ directory

[2019-12-06 07:18] gttcc commented on #1117
试了一下，好像下载不下来…一直在那卡着不动

[2019-12-06 07:24] pouchrobot opened #1126 "WeeklyReport of Dragonfly from 2019-11-29 to 2019-12-06"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-12-06 13:40] lowzj commented on #1124
You can find the dfget's log in the dfdaemon's host.

[2019-12-06 13:45] lowzj commented on #1117
具体是什么日志，20MB/s的速率8G

[2019-12-07 07:04] zhujian7 commented on #1015
Some new information, I found after supernode occured with error:
[code]
After that, the task can not processed.

![image](https://user-images.githubusercontent.com/36154065/70370461-83cb7700-1902-11ea-9f0e-6a18a14ecce5.png)

/cc @Starnop

[2019-12-07 07:47] #1126 closed

[2019-12-07 09:20] JiaDong007 opened #1128 "Pulling a image with dragonfly is actually slower"
## Question

I am use docker registry,
When using Dragonfly to pull two nodes at the same time:
real	12m39.620s
user	0m2.326s
sys	0m0.892s

When not using Dragonfly to pull two nodes at the same time:
real	6m57.331s
user	0m0.475s
sys	0m0.432s

[2019-12-07 10:59] allencloud commented on #1128
The statistics you collected is reasonable. Your cluster scale is very small. When your cluster only has 2 nodes, the time is 2 times native pulling times.

Because the supernode will first download the image from registry. Then node will download image from supernode. Then `real 12m39.620s` is reasonable.

If you have lots of nodes in your cluster, the parallel downloading will consumes all the b

[2019-12-07 13:35] #1112 closed

[2019-12-08 05:44] inoc603 commented on #1123
I can take this. I implemented the deb and rpm packaging script. It would be rather easy to add 2 services. One for dfdamon, and one for supernode. `dfdemon` is fine, but I think `supernode` is not a very good name for a service. The name doesn't show its relationship to the dragonfly project. Maybe we need a better name for it.

[2019-12-08 10:49] weekly-digest[bot] opened #1130 "Weekly Digest (1 December, 2019 - 8 December, 2019)"
Here's the **Weekly Digest** for [*dragonflyoss/Dragonfly*](https://github.com/dragonflyoss/Dragonfly):

 - - -
# ISSUES
Last week 20 issues were created.
Of these, 10 issues have been closed and 10 issues are still open.
## OPEN ISSUES
:green_heart: #1128 [Pulling a image with dragonfly is actually slower](https://github.com/dragonflyoss/Dragonfly/issues/1128), by [JiaDong007](https://github.com/

[2019-12-09 01:35] #1130 closed

[2019-12-09 06:20] gttcc commented on #1117
——————————————-
1. 我这边在supernode和nginx文件服务器在同一台服务器上时，加上—totallimit参数，会变快一点，单client下载8G的镜像文件大概265s。
2. 我理解的supernode和文件服务器分开部署：supernode和nginx各自安装在不同的服务器上。（不知道我理解的对不对？）
尝试将supernode和nginx分别部署在两个服务器上，supernode保持在10.45.150.54上，nginx放在10.45.150.55上，这个时候就无法下载到数据了，日志如下图：
![27A74BE6-2BB3-4CE5-93D8-CC4F614F3D60](https://user-images.githubusercontent.com/52644656/70411401-14ce5980-1a8d-11ea-889c-0d9fa13f4b

[2019-12-09 06:50] gttcc commented on #1117
这个网页打不开呀

[2019-12-09 06:58] Fize commented on #1124
there are no log in the dfaemon's host.
I tried to use version 0.4.3, everything is normal, there are no related problems, so I do not know where the 1.0.0 version is the problem

[2019-12-09 07:02] lowzj commented on #1117
supernode和nginx是一个整体，是Dragonfly的一部分。源文件服务器不是指得supernode机器上的nginx服务器，是你要下载的文件所在的服务器，不是Dragonfly的一部分。

[2019-12-09 07:27] allencloud commented on #1128
I am closing this issue. I am not sure if my answer satisfies you. If you have further questions, please feel free to re-open this issue. Thanks. @JiaDong007

[2019-12-09 07:27] #1128 closed

[2019-12-09 08:15] lowzj commented on #1117
根据你提供的数据
文件大小：8GB
带宽：1Gbps
客户端速率： 1000MB/s

实际上这个速率远远超过带宽大小，下面是理论分析：
非p2p方式，单客户端理论下载速率峰值就是带宽大小，耗时80s；n个客户端，耗时80*ns；而且每次下载都是这个时间。
如果是p2p方式，因为supernode要从源服务器回源下载，同时又提供给其他peer下载文件，但是你是部署在同一个机器上的，单客户端下载速率：80 * 2(1个supernode和1个peer)；n个客户端同时下载：耗时 = 80 * (1(supernode)+4(supernode对客户端的最大限制))，约400s

以上都是在限速一致，超过带宽，首次下载同一个文件的情况。再次下载文件的时候，supernode不会再从源文件下载了。

但是实际上你的限速是非p2p模式，1000MB/s，实际速率=带宽；
p2p模式: 20MB/s

[2019-12-10 04:16] LeslieSun opened #1132 "What is the difference between P2P and CDN download modes in dfget?"
## Question
From the source code, if the pattern is P2P, it will start the dfget server to pull up the peer server service. If it fails, it will change the pattern to CDN. But in the download, only the source is distinguished. P2P and CDN are processed in the same logical branch. Here are two problems. The first one is the difference between P2P mode and CDN mode. The second code has the possibili

[2019-12-10 09:21] wangxiaohua10 commented on #1117
https://github.com/wangxiaohua10/Dragonfly/blob/master/docs/user_guide/install_kube_docker.md这个能打开吗？在 2019年12月9日，下午2:50，gttcc <notifications@github.com> 写道：I resolved this problem by this installation guide:https://raw.githubusercontent.com/wangxiaohua10/Dragonfly/master/docs/user_guide/install_kube_docker.md
Maybe this can help you.
这个网页打不开呀—You are receiving this because you commented.Reply to t

[2019-12-10 09:33] wangxiaohua10 commented on #1117
The nginx deploy is not necessary by the method I provided. You can remove nginx first.
And you can deploy the supernode and dfdaemon in the same node.
我提供的这种部署方法是不需要部署nginx的。直接用docker或者k8s部署。此外，这种方法是可以把supernode和dfdaemon部署在一起的。

[2019-12-11 06:07] LeslieSun commented on #1132
看来这里靠不住了，只能自己啃源码了

[2019-12-11 06:08] #1132 closed

[2019-12-11 06:27] Starnop commented on #1132
Sorry for the delayed reply.

In the P2P pattern, dfget will play two roles
+ downloader, which is downloaded from other nodes through P2P
+ uploader, provide file upload service for other nodes to download files from this node

And if dfget failed to start a dfget server which for upload files, it cannot play the role of `uploader`. However, the dfget can still download files through P2P. And tha

[2019-12-11 15:18] Starnop commented on #1123
How about `dfsupernode`? 😢  cc/ @lowzj

[2019-12-11 15:29] yeya24 commented on #1111
Not sure why closed this 😂 We can add the build deb and rpm step in each release and package them @Starnop

[2019-12-13 07:25] pouchrobot opened #1135 "WeeklyReport of Dragonfly from 2019-12-06 to 2019-12-13"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-12-13 14:40] yeya24 commented on #1111
Useful doc for this feature: https://goreleaser.com/customization/#NFPM

[2019-12-15 10:49] weekly-digest[bot] opened #1136 "Weekly Digest (8 December, 2019 - 15 December, 2019)"
Here's the **Weekly Digest** for [*dragonflyoss/Dragonfly*](https://github.com/dragonflyoss/Dragonfly):

 - - -
# ISSUES
Last week 6 issues were created.
Of these, 4 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #1135 [WeeklyReport of Dragonfly from 2019-12-06 to 2019-12-13](https://github.com/dragonflyoss/Dragonfly/issues/1135), by [pouchrobot](https://github.c

[2019-12-16 13:15] lowzj commented on #1123
agree. I could be named `dfsupernode` in systemd as an abbreviation for dragonfly-supernode.

[2019-12-18 06:06] #1136 closed

[2019-12-18 06:07] #1135 closed

[2019-12-19 11:42] Starnop commented on #1123
@inoc603 Any updates?

[2019-12-19 11:48] xq2248 commented on #1093
Saltstack is also an alternative。

[2019-12-20 02:45] inoc603 commented on #1123
I finished the unit files and script. I'll add some test and create a PR this weekend.

[2019-12-20 07:24] pouchrobot opened #1139 "WeeklyReport of Dragonfly from 2019-12-13 to 2019-12-20"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-12-22 10:50] weekly-digest[bot] opened #1140 "Weekly Digest (15 December, 2019 - 22 December, 2019)"
Here's the **Weekly Digest** for [*dragonflyoss/Dragonfly*](https://github.com/dragonflyoss/Dragonfly):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 2 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #1139 [WeeklyReport of Dragonfly from 2019-12-13 to 2019-12-20](https://github.com/dragonflyoss/Dragonfly/issues/1139), by [pouchrobot](https://github.c

[2019-12-22 13:57] #1140 closed

[2019-12-22 13:57] #1139 closed

[2019-12-23 02:02] gonjay commented on #1018
Seems that supernode cannot access `http://xxxxxx.15.5G.txt`, make sure the address is available for supernode

[2019-12-23 08:18] liy516 opened #1141 "Manually cleaned up the contents of repo/dwonload in the supernode working directory,but dfclient pulled the mirror and got stuck"
## Question

supernode version 0.4.2

**phenomenon**
Using default tag: latest
latest: Pulling from common/develop-base
18b8eb7e7f01: Pulling fs layer
91bb8a2269bc: Pulling fs layer
1410a1576892: Pulling fs layer
5f9d6102f986: Pulling fs layer
c735ad011e52: Pulling fs layer
8e4220026ce4: Pulling fs layer
8d474da3c44f: Pulling fs layer
8cf0b059e12a: Pulling fs layer
2200835b9aa3: Pulling fs layer
2

[2019-12-23 09:28] LeslieSun opened #1142 "supernode确定是按照piece去源下载内容而不是完整下载？"
## Question
supernode从源下载文件应该是通过TriggerCDN实现的吧，在接口内先判断文件是否存在，如果文件已经存在（且完整）startPieceNum 值为-1，否则为其他值，但是看代码貌似只能为0啊，最后就是完整下载整个文件，而不是想你们说supernode下载一个piece后dfget就能开始下载该piece了，我哪里理解有问题，请指教啊。

[2019-12-23 09:36] Starnop commented on #1141
It has been fixed by the PR #1020 which is published in the version 1.0.0.

[2019-12-23 09:40] Starnop commented on #1142
ref： https://github.com/dragonflyoss/Dragonfly/blob/master/supernode/daemon/mgr/cdn/cache_detector.go#L57

[2019-12-23 11:26] LeslieSun commented on #1142
之前的理解以为是你们是按照piece去请求源的，下载下来一个piece就可以提供给dfget去下载了，现在看应该是请求的时候直接下载整个文件（不考虑已经缓存了部分range的数据），在接受数据时，接受满一个piece就可以让dfget来下载了，是这样吗？

[2019-12-23 11:26] LeslieSun commented on #1142
之前的理解以为是你们是按照piece去请求源的，下载下来一个piece就可以提供给dfget去下载了，现在看应该是请求的时候直接下载整个文件（不考虑已经缓存了部分range的数据），在接受数据时，接受满一个piece就可以让dfget来下载了，是这样吗？

[2019-12-23 11:27] LeslieSun commented on #1142
之前的理解以为是你们是按照piece去请求源的，下载下来一个piece就可以提供给dfget去下载了，现在看应该是请求的时候直接下载整个文件（不考虑已经缓存了部分range的数据），在接受数据时，接受满一个piece就可以让dfget来下载了，是这样吗？

[2019-12-23 11:33] Starnop commented on #1142
如果源支持range 请求，则supernode 会像源请求 range[breakNum*PieceSize - totalSize] 区间的内容；否则是请求range[0 - totalSize]也就是整个文件。无论如何，supernode 只会请求一次。

这句话是正确的，supernode 拿到数据流后，会分片读取，每读取并写入到文件系统一个分片，该分片就可以提供服务。

[2019-12-23 11:58] inoc603 commented on #1123
@Starnop I ran into some problems testing the service, namely:
- we need default config files to put in the package, probably generated as [issues#1069](https://github.com/dragonflyoss/Dragonfly/issues/1069) suggested.
- in the default config file, we probably need a new default path for the local repo `.small_dragonfly`, for example somewhere under `/opt/dragonfly` other than `$HOME`, since the u

[2019-12-24 07:57] #1141 closed

[2019-12-26 09:07] JiaDong007 opened #1143 "some node have long time to pull image"
## Question

I use pssh to pull a image of 5G in parallel through 100 nodes,it costs more than 20 minute on average,some need more time.What is the reason?if i use dragonfly on 20 nodes may need 6 minute,
Q1:How to distinguish between mirroring through p2p pattern or CDN pattern？
like this？docker exec dfclient grep 'downloading piece' /root/.small-dragonfly/logs/dfclient.log | grep -v cdnnode
Q2：w

[2019-12-26 11:00] JiaDong007 commented on #1128
Now i have 100 dfclient nodes,but i docker pull the same image in parallel ，them spend more than 20 minutes on average，some cost 1 hour.What is the reason? @allencloud

[2019-12-26 11:01] JiaDong007 commented on #1128
Now i have 100 dfclient nodes,but i docker pull the same image in parallel ，them spend more than 20 minutes on average，some cost 1 hour.What is the reason? @allencloud

[2019-12-26 13:18] Starnop commented on #1143
Could you please add more descriptions about your environment?

like this？docker exec dfclient grep 'downloading piece' /root/.small-dragonfly/logs/dfclient.log | grep -v cdnnode

Please refer to https://github.com/dragonflyoss/Dragonfly/issues/1132#issuecomment-564399599.

2019-12-26 08:53:22.437 WARN sign:10 : peerID: 573ce53f939e-172.0.89.2-1577350372688863279 got errors for 8 times which reach

[2019-12-26 15:26] JiaDong007 commented on #1143
Shouldn't p2pmode have more nodes or be faster or stay the same?Why do i  spend more time with more nodes after use dragonfly?@Starnop

[2019-12-27 07:24] pouchrobot opened #1144 "WeeklyReport of Dragonfly from 2019-12-20 to 2019-12-27"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2019-12-27 15:21] JiaDong007 opened #1146 "Why more nodes are slower，from the log looks like p2p mode"
## Question

 I use the dragonfly image of the 0.4.3 version，i want to install dragonfly  deployed on the basis of
Docker Registry.I use pssh method to pull a same image in parallel,but do not get good results.Here are the test results:
####1 node
real	3m24.172s
user	0m0.222s
sys	0m0.150s
#### 20 node
real	5m34.047s
user	0m0.117s
sys	0m0.069s
#### 87 node
real	22m16.948s
user	0m0.203s
sys	0m0.079s

[2019-12-29 05:11] Starnop commented on #1146
According to the logs you provided, everything seemed normal.

And maybe you can grep the `erro` and `fail` the log files.

[2019-12-29 09:28] JiaDong007 commented on #1146
Thank you. I finally solved the problem with your help.
First,we must use 1.0.0 version,0.4.3 is old.
Second,i use `docker run --network host` method to run container.

[2019-12-29 09:28] #1146 closed

[2019-12-29 09:31] JiaDong007 commented on #1143
I pull the dragonflyoss/supernode:1.0.0 and dragonflyoss/dfclient:1.0.0 form dockerHub,it works for me.

[2019-12-29 09:31] #1143 closed

[2019-12-29 10:50] weekly-digest[bot] opened #1147 "Weekly Digest (22 December, 2019 - 29 December, 2019)"
Here's the **Weekly Digest** for [*dragonflyoss/Dragonfly*](https://github.com/dragonflyoss/Dragonfly):
 - - -
# ISSUES
Last week 6 issues were created.
Of these, 3 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #1145 [Configure dfclient log file path via 'logConfig.path' property](https://github.com/dragonflyoss/Dragonfly/pull/1145), by [YanzheL](https://github.

[2019-12-30 12:08] yangchuan37326 opened #1149 "在数据源异常时，supernode上正在执行的task不会自动终止"
版本：1.0.0

[2019-12-30 12:08] #1149 closed

[2019-12-30 12:12] Starnop commented on #1142
If you don't have more questions, could you please close this issue? THX.

[2019-12-30 12:13] #1147 closed

[2019-12-30 12:13] #1144 closed

[2019-12-30 12:20] yangchuan37326 opened #1150 "In case of data source exception, the task in progress on supernode will not be terminated automatically"
1. Dfget downloads files through supernode

// 1、dfget通过supernode下载文件

Expected results:

// 期望结果：

***!!!!WE STRONGLY ENCOURAGE YOU TO DESCRIBE YOUR ISSUE IN ENGLISH!!!!***

[2019-12-31 06:22] #1142 closed

[2020-01-02 12:08] LeslieSun opened #1157 "偶现dfget下载失败"
## Question
现象：多个docker pull请求下载时，偶尔会出现某个节点下载失败。
本轮请求13台设备在18:00发起docker pull请求，12台设备59-60s后下载成功，但是一台失败并且无限轮询持续请求，持续失败。
supernode log：
2020-01-02 18:02:31.521 INFO sign:2801 : gc peer: start to deal with peer: tst4-xxx.com-xxx.xx.73.65-1577958913537379557

2020-01-02 18:08:32.552 WARN sign:2801 : failed to get dfget task by dstCID(xxx.xx.73.65-10966-1577959254.445) and taskID(d92205d4ce2007422736d

[2020-01-02 12:10] wuchaojing commented on #50
请问这个缓存共享功能，大概多久可以开放到开源版本呢？

[2020-01-03 05:25] Starnop commented on #1157
In fact, I think it's not expected. I will try to troubleshoot this with you. 😄

[2020-01-03 05:27] Starnop commented on #1150
I will fix this in the PR #1152 .

[2020-01-03 07:25] pouchrobot opened #1158 "WeeklyReport of Dragonfly from 2019-12-27 to 2020-01-03"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2020-01-03 08:29] LeslieSun commented on #1157
已经将supernode DEBUG开启了，在不断重试，之前的现象看log，dfget node其实一直在发起pullPieceTask请求，一直收到peer should wait，supernode gc前并没有记录，直到gc掉后才开始报错。

[2020-01-04 05:29] Starnop commented on #1157
And could you please provide the version you used?

[2020-01-04 05:41] Starnop commented on #1157
In addition,  could you please provide the related dfserver.log for peer `tst4-xxx.com-xxx.xx.73.65-1577958913537379557` which is located at the `~/.small-dragonfly/logs/dfserver.log`.
And we should confirm whether the peer did send the peer offline request correctly.

[2020-01-04 06:16] Starnop commented on #1150
@yangchuan37326 Cloud you please have a review for the PR #1152. THX.

[2020-01-05 06:45] LeslieSun commented on #1157
最近没有复现失败的场景，我就按照你说的方式把之前的log梳理下，
发起请求的dfget节点有13个，其中涉及到dfget请求失败的有两个，73.2是请求失败的ip，73.65是73.2请求其中一个piece的peer节点，72.238是supernode节点。

73.2 dfclient日志：
2020-01-02 18:01:26.744 INFO sign:12305-1577959255.676 : downloading piece:{"taskID":"d92205d4ce2007422736d99a34c53d8263b157a8362c4894e1f926c5b406362f","superNode":"xxx.xx.72.238:8002","dstCid":"cdnnode:xxx.xx.72.238~d92205d4ce2007422736d99a34c53d8263

[2020-01-05 08:52] LeslieSun commented on #1157
supernode 和 dfget 通过version看都是1.0.0版本

[2020-01-05 10:50] weekly-digest[bot] opened #1161 "Weekly Digest (29 December, 2019 - 5 January, 2020)"
Here's the **Weekly Digest** for [*dragonflyoss/Dragonfly*](https://github.com/dragonflyoss/Dragonfly):

 - - -
# ISSUES
Last week 13 issues were created.
Of these, 8 issues have been closed and 5 issues are still open.
## OPEN ISSUES
:green_heart: #1158 [WeeklyReport of Dragonfly from 2019-12-27 to 2020-01-03](https://github.com/dragonflyoss/Dragonfly/issues/1158), by [pouchrobot](https://github.

[2020-01-06 02:58] planetkr commented on #1157
我也碰到了类似的问题，大概70个client 同时下载，会偶发某个client 卡住。

**代码版本：**
7894da121306b5e26db485e1f5ed11bff12422e9

**supernode 日志：**
2020-01-05 23:36:33.358 INFO sign:10112-1578238471.150 : downloading piece:{"taskID":"dd9697255d580b1fce938b2d55909cb27196375df577560a7b5aa2d6f93dd755","superNode":"11.163.182.164:8002","dstCid":"11.163.187.96-47517-1578238472.082","range":"13227786240-13243514879","result":503,"statu

[2020-01-06 03:49] LeslieSun commented on #1157
哥们，你是下载最后一个piece失败的吗？

[2020-01-06 04:14] planetkr opened #1162 "SuperNode 日志中记录的时间戳非本地时间"
### Ⅰ. Issue Description
SuperNode 日志中记录的时间戳是UTC+0的时间非本地时间，例如
**机器当前时间**
$date
Mon Jan  6 12:12:37 CST 2020
**supernode 输出时间：**
2020-01-06 04:12:40.338 WARN sign:110318

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

### Ⅳ. How to reproduce it (as minimally and precisely as possible)

1.
2.
3.

### Ⅴ. Anything else we need to know?

### Ⅵ. Environment:

- dragonfly ver

[2020-01-06 12:50] Starnop commented on #1157
@LeslieSun @planetkr Could you please help confirm if the unsuccessful peer node has an error like this. You can do that by exec `grep 'failed to report piece' dfclient.log`.

If that, that means the dfget failed to report supernode that it has downloaded this piece and supernode will judge that this node has not been downloaded yet. So the above situation that you described will happen. 😢

And if

[2020-01-06 13:43] Starnop commented on #1162
In fact, it should be consistent with the local machine, and I can not reproduce it. Could you help to debug that? 😄
Refer to https://github.com/dragonflyoss/Dragonfly/blob/7665ff0c689c9bd13247fddeff1080476c11f47c/pkg/dflog/log.go#L129

[2020-01-07 07:23] LeslieSun commented on #1157
@Starnop ,没有在dfclient.log中发现有`failed to report piece`输出，不过另外一次测试发现一些log我无法从源码中找到合理的解释，我贴出来
`
2020-01-06 13:56:24.155 DEBU sign:6997 : start to process task(8815caad97127ceac74a986b16a8f083fc7fee4c2b5e2a864d95d7cd8ff6b6ab) start
2020-01-06 13:56:24.155 INFO sign:6997 : success update dfgetTask status to RUNNING with taskID: 8815caad97127ceac74a986b16a8f083fc7fee4c2b5e2a864d95d7cd8ff6b6ab clientID:

[2020-01-09 08:29] lowzj opened #1164 "Proposal: Dragonfly supports P2P based on Streaming to reduce disk IO"
## Backgrounds

Now the client of Dragonfly will random read and write disk multiple times during the downloading process.
For directly using `dfget` to download a file:
* `dfget` random writes a piece into disk after downloading it
* `dfget server` random reads the piece from disk to share it
* `dfget` sequential reads the file from disk after downloading to do checksum

And for using `dfdaemon`

[2020-01-09 08:44] SataQiu commented on #1164
Great job! I am willing to help.

[2020-01-09 11:14] LeslieSun opened #1168 "docker代理私有仓库不生效"
## Question

看FAQ中说明如果在dfdaemon中通过registry设置为第三方仓库，那么下载就是从第三方仓库拉取镜像，但是我测试并没有生效，我的dfdaemon改成`dfdaemon --registry http://xxx.xx.73.71:5000 --node xxx.xx.73.72:8002,xxx.xx.73.72:8004`,通过`docker pull xxx`,结果并没有通过dfdaemon下载镜像，而是直接下载的，dfdaemon.log中没有任何日志记录。

[2020-01-10 07:24] pouchrobot opened #1171 "WeeklyReport of Dragonfly from 2020-01-03 to 2020-01-10"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2020-01-10 07:44] fengzixu commented on #1115
/assign @fengzixu I will do it in this weekend.

[2020-01-10 07:45] fengzixu commented on #1115
@Starnop @lowzj  I think we  still need  this API right now. Am I right?

[2020-01-11 16:22] #1161 closed

[2020-01-11 16:22] #1158 closed

[2020-01-13 13:50] #1150 closed

[2020-01-14 06:12] wuchaojing opened #1177 "--showbar command is unsupported"
## Question

--showbar command is supported in python，why not supprted in go？

[2020-01-14 06:16] wuchaojing commented on #1177
I think '--showbar' should be supported， that is golang should be consistent with python，thanks

[2020-01-14 12:44] xujihui1985 commented on #1164
- [ ]  start long live peerserver in dfdaemon
- [ ]  move download logic in DownloadContext, change result type to http.Resonse
- [ ]  use library to download piece instead of dfget binary
- [ ]  supernode support generate taskID with http header range
- [ ]  extract new Writer interface for ClientWriter
- [ ]  new ClientStreamWriter that implement Writer to write download piece to stream instead

[2020-01-17 07:24] pouchrobot opened #1190 "WeeklyReport of Dragonfly from 2020-01-10 to 2020-01-17"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2020-01-19 07:11] gonjay commented on #1157
我也遇到了类似问题，通过 `grep dfclient.log | grep ERRO` 发现似乎是卡在了从某个peer那里拉piece（piece所在的peer挂了），目前还不清楚dfclient如何处理某个peer挂掉的情况，但眼下因为一个peer挂导致整个下载挂掉实在不是很友好。

[2020-01-20 09:59] lowzj opened #1195 "optimize: the cacheDetector to decrease downloading time"
### Ⅰ. Issue Description
The cacheDetector supports breakpoint resuming, but now it reports piece status to supernode after finish checking all the downloaded data. Thus the client will wait it until the detecting step finished. It will increase the downloading time in the case of breakpoint resuming.

### Ⅱ. Describe what happened

### Ⅲ. Describe what you expected to happen

Reporting every piec

[2020-01-21 09:40] vissible opened #1198 "supernode 1.0.0 http: panic serving"
Supernode finds the following error. The client side shows that some FS layers can be pulled and stuck later.

// supernode发现如下报错，client端表现是部分fs layer可以拉取，之后会卡住。

[code]

***!!!!WE STRONGLY ENCOURAGE YOU TO DESCRIBE YOUR ISSUE IN ENGLISH!!!!***

[2020-01-24 07:24] pouchrobot opened #1199 "WeeklyReport of Dragonfly from 2020-01-17 to 2020-01-24"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2020-01-26 10:50] weekly-digest[bot] opened #1200 "Weekly Digest (19 January, 2020 - 26 January, 2020)"
Here's the **Weekly Digest** for [*dragonflyoss/Dragonfly*](https://github.com/dragonflyoss/Dragonfly):

 - - -
# ISSUES
Last week 9 issues were created.
Of these, 2 issues have been closed and 7 issues are still open.
## OPEN ISSUES
:green_heart: #1199 [WeeklyReport of Dragonfly from 2020-01-17 to 2020-01-24](https://github.com/dragonflyoss/Dragonfly/issues/1199), by [pouchrobot](https://github.c

[2020-01-28 07:20] #1199 closed

[2020-01-28 07:21] #1200 closed

[2020-01-31 07:24] pouchrobot opened #1201 "WeeklyReport of Dragonfly from 2020-01-24 to 2020-01-31"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2020-02-02 10:51] weekly-digest[bot] opened #1203 "Weekly Digest (26 January, 2020 - 2 February, 2020)"
Here's the **Weekly Digest** for [*dragonflyoss/Dragonfly*](https://github.com/dragonflyoss/Dragonfly):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 1 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #1201 [WeeklyReport of Dragonfly from 2020-01-24 to 2020-01-31](https://github.com/dragonflyoss/Dragonfly/issues/1201), by [pouchrobot](https://github.c

[2020-02-03 02:59] #1201 closed

[2020-02-03 09:48] Starnop opened #1204 "[feature request] support configurable algorithms for hashing"
## Why you need it?

## How it could be?

## Other related information

[2020-02-04 00:07] allencloud opened #1205 "[Question] How to guarantee the data integrity of the images and the blocks?"
## Question

today, the block format does not appear to include a checksum and I think that this could potentially lead to a bad block (either through corruption or alternatively via a malicious actor) being distributed through the P2P network and potentially poisoning the cache.   

You mentioned in the SIG presentation that there were some protections for this but I could not understand the spec

[2020-02-04 00:59] allencloud commented on #1205
No, the block format does not include a checksum.

However, for each distributing file, we record all blocks' checksum into a separate file, which is named by **block metadata file**.

## What is a block metadata file?

Each block metadata file maps each distributing file. The block metadata file includes the following three parts:
* every block's MD5 info;
* the whole distributing file's MD5 info

[2020-02-04 10:25] Starnop commented on #1204
## Use configurable algorithms for encryption not only DES

In fact, in our plans, we are splitting the scheduler and the CDN modules for supernode. And then for the new CDN architecture, the CDN manager will process each piece by the `Post Processor List` which Including encryption processing.

![image](https://user-images.githubusercontent.com/31209634/73725611-b8c04280-4768-11ea-89e7-05dcd1506f

[2020-02-05 02:52] kivis-online opened #1206 "Dfget is downloading large file (5GB), and out of memory or killed (trigger system OOM) appears"
## Question

OS：ubuntu 16.0.4 / CentOS 7.3   CPU:2C Mem:4G
dfget version:1.0.0

1. The first client node downloads a new 5G file: no error is reported, the time is longer (more than 8 minutes), it is estimated that the speed is slower,
2. Immediately after the second and third client nodes download the same 5GB file: from the peer (P2P network takes effect) in the log, about 30s ~ 1min, dfget erro

[2020-02-05 03:22] inoc603 opened #1207 "[feature request] a new dfdaemon sub command for CA generation"
## Why you need it?

Thanks to @YanzheL 's great work in #1181 , clients that use dfdaemon as proxy for https connection no longer need to explicitly ignore certificate errors. This is a big improvement on usability.

Since the CA is only used for a single host, we can generate the CA when deploying dfdaemon. Adding the CA to system certificate store usually requires root privilege, so it's better

[2020-02-05 09:00] #525 closed

[2020-02-05 12:46] liy516 opened #1208 "Dfdaemon produced error when pulling image"
## Question

docker version:18.09.2
dfclient version: master branch
supernode version: master branch

start dfclient  command：sudo docker run -d --network=host --name dfclient --restart=always    -v /etc/dragonfly:/etc/dragonfly -v /vdata/dragonfly/:/root/.small-dragonfly/   192.168.56.102/common/dfclient:latest  --node 192.168.56.112:62123,192.168.56.113:62123 --maxprocs 8 --ratelimit 200M   --ve

[2020-02-07 07:24] pouchrobot opened #1210 "WeeklyReport of Dragonfly from 2020-01-31 to 2020-02-07"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2020-02-07 19:46] #1210 closed

[2020-02-09 01:28] weekly-digest[bot] opened #1211 "Weekly Digest (2 February, 2020 - 9 February, 2020)"
Here's the **Weekly Digest** for [*dragonflyoss/Dragonfly*](https://github.com/dragonflyoss/Dragonfly):

 - - -
# ISSUES
Last week 7 issues were created.
Of these, 2 issues have been closed and 5 issues are still open.
## OPEN ISSUES
:green_heart: #1208 [Dfdaemon produced error when pulling image](https://github.com/dragonflyoss/Dragonfly/issues/1208), by [liy516](https://github.com/liy516)
:green

[2020-02-10 09:36] inoc603 commented on #1208
This is an issue with the pure go dns resolver, https://github.com/golang/go/issues/35067.  Dfdaemon is currently compiled without cgo, so if you want a quick solution, you can compile dfdaemon with `CGO_ENABLED=1` and force the use of cgo resolver with `GODEBUG=netdns=cgo` if needed.

For the long term, @Starnop @lowzj are we going to enable cgo (very simple) or use custom resolver (we can probab

[2020-02-11 00:10] #1211 closed

[2020-02-11 07:47] liy516 commented on #1208
thanks for your reply.

[2020-02-12 17:34] chira001 commented on #1205
Thank you for the comprehensive response - this clarifies the process well.

[2020-02-12 17:36] chira001 commented on #1204
Thank you for the feature request and clarifying the process how compatibility could be integrated.

[2020-02-13 23:43] allencloud commented on #1205
I think we could add this into the FAQ or a separate documentation.

[2020-02-13 23:58] allencloud commented on #1208
Yes, if that is the answer, you can add the env in dockerfile's `RUN` command to build the binary via source code.

[2020-02-14 07:25] pouchrobot opened #1222 "WeeklyReport of Dragonfly from 2020-02-07 to 2020-02-14"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2020-02-15 02:02] liy516 commented on #1208
Thanks

[2020-02-16 01:28] weekly-digest[bot] opened #1224 "Weekly Digest (9 February, 2020 - 16 February, 2020)"
Here's the **Weekly Digest** for [*dragonflyoss/Dragonfly*](https://github.com/dragonflyoss/Dragonfly):

 - - -
# ISSUES
Last week 12 issues were created.
Of these, 4 issues have been closed and 8 issues are still open.
## OPEN ISSUES
:green_heart: #1223 [pkg/fileutils: add verifications and unit test for SymboliLlink](https://github.com/dragonflyoss/Dragonfly/pull/1223), by [littleroad](https://g

[2020-02-16 15:45] #1224 closed

[2020-02-16 15:45] #1222 closed

[2020-02-16 15:45] #1203 closed

[2020-02-16 15:46] #1190 closed

[2020-02-16 15:46] #1171 closed

[2020-02-19 10:07] zkking commented on #1078
You must use the absolute path of the certificate so that it can be read correctly

[2020-02-21 07:25] pouchrobot opened #1229 "WeeklyReport of Dragonfly from 2020-02-14 to 2020-02-21"
# Weekly Report of Dragonfly

This is a weekly report of Dragonfly. It summarizes what have changed in the project during the passed week, including pr merged, new contributors, and more things in the future.
It is all done by @AliGHRobot which is an AI robot.  See: https://github.com/pouchcontainer/pouchrobot.
## Repo Update

| Watch | Star | Fork | Contributors | New Issues | Closed Issues |
|:-

[2020-02-23 01:28] weekly-digest[bot] opened #1230 "Weekly Digest (16 February, 2020 - 23 February, 2020)"
Here's the **Weekly Digest** for [*dragonflyoss/Dragonfly*](https://github.com/dragonflyoss/Dragonfly):

 - - -
# ISSUES
Last week 5 issues were created.
Of these, 4 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #1229 [WeeklyReport of Dragonfly from 2020-02-14 to 2020-02-21](https://github.com/dragonflyoss/Dragonfly/issues/1229), by [pouchrobot](https://github.c

[2020-02-25 01:08] #1230 closed

[2020-02-25 01:09] #1229 closed

[2020-02-25 07:50] LeslieSun commented on #1168
请问这里可以帮忙看下吗？

[2020-02-25 08:28] LeslieSun commented on #1168
dfdaemon 的配置是`dfdaemon --registry http://172.22.xx.xx:5000`
dfdaemon.log中日志：

  Git commit:     df32ce2
  Build date:     20200102-11:18:35
  Go version:     go1.13.4
  OS/Arch:        linux/amd64 from /usr/local/bin/dfget
2020-02-25 16:21:33.650 INFO sign:969 : using config: {"registry_mirror":{"remote":"http://172.22.xx.xx:5000","certs":null,"insecure":false,"direct":false},"proxies":null,"hijac

[2020-02-25 15:52] inoc603 commented on #1168
Have you configured your docker daemon to use dfdaemon as registry mirror and restart docker daemon as documented [here](https://github.com/dragonflyoss/Dragonfly/blob/master/FAQ.md#do-i-have-to-change-my-container-engine-configuration-to-support-dragonfly) ? If so would you share the content of your your `/etc/docker/daemon.json` here?

[2020-02-26 08:21] readerx opened #1231 "dfdaemon HTTPS protocol is not valid"
### Describetion:

dfclient config：

[code]

docker command:

[code]

docker pull error:

[code]

error code in dfdaemon/server.go:

[code]

###  Environment:

- dragonfly version: 1.0.0

[2020-02-26 08:26] readerx commented on #1231
@lowzj

[2020-02-27 11:02] LeslieSun commented on #1168
通过journalctl -u docker 看启动docker的log如下

Feb 27 18:56:33 tst4-xuanwu-7.prod.yiran.com dockerd-current[30903]: time="2020-02-27T18:56:33.689748991+08:00" level=warning msg="could not change group /var/run/docker.sock to docker: group docker not found"
Feb 27 18:56:33 tst4-xuanwu-7.prod.yiran.com dockerd-current[30903]: time="2020-02-27T18:56:33.690734604+08:00" level=info msg="libcontainerd: new con

[2020-02-27 11:39] LeslieSun commented on #1168
我发现做如下三处修改后是可以的了，
1.

[Service]
Environment="HTTP_PROXY=http://127.0.0.1:65001"
2.

[Service]
Environment="HTTPS_PROXY=http://127.0.0.1:65001"
3.
# cat /etc/dragonfly/dfdaemon.yml
# config the dfget flags according to your own needs, please refer to https://github.com/dragonflyoss/Dragonfly/blob/master/docs/cli_reference/dfget.md
dfget_flags: ["--node","dfsupernode=1","-f","Expires&Signature"]
pro

[2020-02-28 08:35] #1205 closed

[2020-03-01 03:01] inoc603 commented on #1168
They are 2 different scenarios:
1. Use dfdaemon as mirror for the official registry. This is what docker natively supported. For example, `docker pull mysql` is meant to pull `registry.docker.io/mysql`, but if set the registry mirror to dfdaemon and configure the registry mirror to `my.habor`, then `docker pull mysql` will instead pull `my.habor/mysql`. Request to other registries are not affected